// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
// font-family: "Balthazar", system-ui;
@import url('https://fonts.cdnfonts.com/css/gt-america-trial');

// Define fonts for body and headers
  $primary-font: 'GT America Trial', sans-serif;
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
// font-family: "Outfit", sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
// font-family: "Lora", serif;

//@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
// font-family: "Hind Madurai", sans-serif;

//@import url('https://fonts.cdnfonts.com/css/gt-america-trial');
//font-family: 'GT America Trial', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// font-family: "Spectral", serif;

// @import url('https://fonts.cdnfonts.com/css/gt-america-trial');


.text-little-bold {
  font-size: 1.1rem;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  // font-family: 'GT America Trial', sans-serif;

}

.text-little-light {
  font-size: 1.07rem;
  color: #353535;
  font-weight: 300;
  margin-top: 1.875rem !important;
  // font-family: 'GT America Trial', sans-serif;
  // font-family: 'GT America Trial', sans-serif;
  letter-spacing: 0.6px;

}



/* GT America Extended Bold */
