.dash-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.dash-first {
  min-height: calc(100vh - 6.2rem);
  width: 80%;
}

.dash-title-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.dash-btn-create-project-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.dash-btn-create-project-container a {
  color: #fff;
}

.dash-container .projects-grid {
  border-top: 1px solid #fff;
}
