.pass-blanc {
  background-color: #fff !important;
}

.estimation-container {
  background-color: #fff;
  min-height: 200vh;
  display: flex;
  justify-content: center;
}

.estimation-content {
  width: 80%;
}
