.pass-blanc {
  background-color: #fff !important;
}

.estimation-container {
  background-color: #fff;
  min-height: 200vh;
  display: flex;
  justify-content: center;
}

.estimation-content {
  width: 80%;
  height: 100%;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
