.pass-blanc {
  background-color: #fff !important;
}

.estimation-container-black {
  background-color: #161618;
  display: flex;
  justify-content: center;
  position: relative;
}

.estimation-container-white {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.estimation-content {
  width: 80%;
  height: 100%;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.estimation-first-div {
  display: flex;
  min-height: calc(100vh - 21.2rem);
}

.estimation-first-div p, .estimation-first-div a {
  color: #fff;
}

.estimation-first-div .estimation-gauche {
  height: 100%;
  width: 50%;
}

.estimation-first-div .estimation-gauche h1 {
  margin-left: 15px;
  margin-bottom: 1.875rem !important;
}

.estimation-first-div .estimation-gauche .link-ligne-rouge-container {
  margin-top: 1rem;
}

.estimation-first-div .estimation-droite {
  height: 100%;
  width: 50%;
}

.estimation-choix-result-container {
  display: flex;
}

.estimation-choix-gauche {
  width: 60%;
}

.estimation-result-droite {
  width: 40%;
}

.estimation-choix-result-container input {
  display: none;
}

.estimation-choix-result-container label {
  border: 1px solid #878787;
  margin: 0px 15px 15px 0;
  padding: 8px 16px;
  background-color: #878787;
}
