// seconde----------------------------------------------------------------

.home-seconde-div-container {
  position: relative;
  color: #000;
  height: 64vh;
  // box-shadow: 0 0 0 2px rgba(226,26,65,.35),0 0 3px 5px rgba(226,26,65,.35);
  outline: 2px dotted transparent;
  outline-offset: 2px;
  z-index: 10;
  // box-shadow:
  //   0 -2px 0 2px rgba(226, 26, 65, .35),    /* haut */
  //   2px 0 0 2px rgba(226, 26, 65, .35),     /* droite */
  //   -2px 0 0 2px rgba(226, 26, 65, .35),    /* gauche */
  //   0 0 3px 5px rgba(226, 26, 65, .35) inset; /* flou interne pour le contour */
}

// seconde----------------------------------------------------------------

.home-seconde-div-content {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.home-seconde-content-little {
  width: 80%;
  background-color: rgb(255, 255, 255);
  display: flex;
}

// --------

.home-seconde-gauche {
  width: 50%;
  height: 100%;
  padding-top: 7.5rem;
  padding-left: 15px;
}

.home-seconde-gauche .home-seconde-logo {
  content: "";
  height: 95px;
  width: 95px;
  // background-color: #555;
}

.home-seconde-gauche .home-seconde-logo img {
  height: 100%;
  width: 100%;
}


// ligne central
.home-seconde-centre {
  width: 1px;
  height: 100%;
  background-color: #555;
}


// div right
.home-seconde-droite {
  width: 50%;
  height: 100%;
  padding-top: 7.5rem;
  padding-left: 15px;
  // border-left: 1px solid #242426;
  // border-left: 1px solid #555;
}

.home-seconde-droite-link-container {
  position: relative;
  width:fit-content;
  border-bottom: 1px solid #e21a41;
}

.home-seconde-droite a {
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 10;
  transition: all 0.3s linear;
  transition-delay: 0.2s;
}

.home-seconde-droite-link-hover-red {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #e21a41;
  transition: all 0.3s linear;
}

.home-seconde-droite-link-container:hover .home-seconde-droite-link-hover-red {
  width: 100%;
  transition: all 0.3s linear;
}

.home-seconde-droite-link-container:hover a {
  color: #fff;
  transition: all 0.3s linear;
  transition-delay: 0.2s;
}
