.home-first-div-container {
  position: relative;
}

//content
.home-first-div-content {
  height: 100%;
  width: 100%;
  background-color: $gris;
  display: flex;
  justify-content: center;
  border-top: #aa1935 1px solid;
  border-bottom: #aa1935 1px solid;
  position: relative;
  min-height: 90vh;
}

.home-first-degrader-haut-rouge {
  background: linear-gradient(to top, #aa1935, transparent);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 1;
}

.home-first-degrader-bas-rouge {
  background: linear-gradient(to bottom, #aa1935, transparent);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 1;
}

// img vagues
.imagevague-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  width: 100%;
}
.imagevague {
  height: 100%;
  width: 100%;
}



// text and pic first div

.home-container-text-pic {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-content-text-pic {
  height: 100%;
  width: 80%;
  content: "";
  display: flex;
  // padding-top: 130px;
}

//  test

.home-content {
  height: 100%;
  width: 80%;
  content: "";
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes apparitionSvg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform:translateY(0rem);
  }
  50% {
    transform:translateY(-2.4rem);
  }
  100% {
    transform:translateY(0rem);
  }
}

@keyframes floatArrow {
  0% {
    transform:translateY(-2.4rem);
    opacity: 0;
  }



  100% {
    transform:translateY(0);
    opacity: 1;
  }
}

.test-home-first-img-container {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: 4rem 0;
  opacity: 0;
  transform:translateY(250px);
  animation: apparition 0.6s 0.2s ease-out forwards;
  z-index: 1;
}



.test-home-first-img-container img{
  height: 100%;
  width: auto;
  animation: floatImage 4s 2s ease-in-out infinite;
}

.test-home-first-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform:translateY(50px);
  animation: apparition 0.6s 1s ease-out forwards;
  z-index: 1;
}

.test-home-first-title-container h1{
  font-family: "Balthazar", system-ui;
  font-size: 5vw;
  margin: 0;
  padding: 0px 2rem;
  opacity: 0;
  animation: apparition 1.3s 1.8s ease-out forwards;
}

.home-fist-arrow-container {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.home-fist-arrow-container i {
  font-size: 2rem;
  opacity: 0;
  animation: floatArrow 2s 4s ease-in-out forwards;
}




.home-red-ligne-around-title {
  height: 80%;
  width: .3rem;
  content: "";
  background-color: #e21a41;
}



// text

.home-content-text {
  height: 100%;
  width: 50%;
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-first-title-container {
  padding-left: 15px;
  margin-bottom: 1.875rem !important;
}

.home-first-para-link-container {
  border-left: 1px solid #e21a41;
  padding-left: 15px;
  padding-right: 15px;
}

.home-first-para-link-container .text-title {
  padding: 0;
}

//btn

.btn-rouge {
  height: 3.75rem;
  border: .0625rem solid #e21a41;
  align-items: center;
  background: #161618;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1rem;
  overflow: hidden;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin-top: 1rem;
}

.btn-rouge p {
  transition: all .4s;
  margin-bottom: 0px;
}

.btn-rouge:hover p {
  transform: translateX(-1.875rem);
  transition: all .4s;
}


.block-noir-fleche {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.75rem;
  height: 100%;
  background: #161618;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-3.75rem);
  transition: all .4s;
}

.btn-rouge:hover .block-noir-fleche {
  background: #161618;
  transform: translateX(0rem);
  transition: all .8s;
}

.block-rouge {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e21a41;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0rem);
  transition: all .4s;
}

.btn-rouge:hover .block-rouge {
  transform: translateX(-3.75rem);
}

.block-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0rem);
  transition: all .4s;
}

.btn-rouge:hover .block-text {
  transform: translateX(-1.875rem);
}

// pic main right -----------------

.home-content-pic {
  height: 100%;
  width: 50%;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main-pic {
  display: flex;
  justify-content: center;

}

.home-main-pic img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 500px) {
 .home-content {
  width: 90%;
 }

}

@media screen and (max-width: 460px) {

  .test-home-first-title-container h1{
    padding: 0px 1rem;
  }

  .test-home-first-img-container img {
    height: 80%;
    margin-top: 3rem;
  }

}
