.home-first-div-container {
  position: relative;
  height: 100vh;
  // box-shadow: 0 0 0 2px rgba(226,26,65,.35),0 0 3px 5px rgba(226,26,65,.35);
  // outline: 2px dotted transparent;
  // outline-offset: 2px;
  // box-shadow:
  //   0 -2px 0 2px rgba(226, 26, 65, .35),    /* haut */
  //   2px 0 0 2px rgba(226, 26, 65, .35),     /* droite */
  //   -2px 0 0 2px rgba(226, 26, 65, .35),    /* gauche */
  //   0 0 3px 5px rgba(226, 26, 65, .35) inset; /* flou interne pour le contour */
}

//content
.home-first-div-content {
  height: 100%;
  width: 100%;
  background-color: $gris;
  display: flex;
  justify-content: center;
  border-top: #aa1935 1px solid;
  position: relative;
}

.home-first-div-content::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #aa1935;
  filter: blur(2px);

}

// img vagues
.imagevague-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  width: 100%;
}
.imagevague {
  height: 100%;
  width: 100%;
}



// text and pic first div

.home-container-text-pic {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  // background-color: #993b3b1b;
}

.home-content-text-pic {
  height: 100%;
  width: 80%;
  // background-color: rgba(0, 128, 0, 0.12);
  content: "";
  display: flex;
  padding-top: 130px;
}

// text

.home-content-text {
  height: 100%;
  width: 50%;
  content: "";
  // background-color: rgba(0, 255, 255, 0.252);
}

.home-first-title-container {
  padding-left: 15px;
  margin-bottom: 1.875rem !important;
}

.home-first-para-link-container {
  border-left: 1px solid #e21a41;
  padding-left: 15px;
}


//btn

.btn-rouge {
  height: 3.75rem;
  border: .0625rem solid #e21a41;
  align-items: center;
  background: #161618;
  // background-color: #e21a41;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1rem;
  overflow: hidden;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  text-align: center;
  // transition: all .4s;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'GT America Trial', sans-serif;
  position: relative;
  margin-top: 1rem;
}

.btn-rouge p {
  transition: all .4s;
  margin-bottom: 0px;
}

.btn-rouge:hover p {
  transform: translateX(-1.875rem);
  transition: all .4s;
}


.block-noir-fleche {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.75rem;
  height: 100%;
  background: #161618;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  // transform: translateX(-3.75rem);
  transform: translateX(-3.75rem);
  transition: all .4s;
}

.btn-rouge:hover .block-noir-fleche {
  background: #161618;
  transform: translateX(0rem);
  transition: all .8s;
}

.block-rouge {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e21a41;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0rem);
  transition: all .4s;
}

.btn-rouge:hover .block-rouge {
  transform: translateX(-3.75rem);
}

.block-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0rem);
  transition: all .4s;
}

.btn-rouge:hover .block-text {
  transform: translateX(-1.875rem);
}

// pic main right -----------------

.home-content-pic {
  height: 100%;
  width: 50%;
  content: "";
}

.home-main-pic {
  content: "";
  width: 100%;
  height: 350px;
  // background-color: rgba(0, 255, 255, 0.318);
}

.home-main-pic img {
  width: 100%;
  height: auto;
}
