
.home-container{
  overflow: hidden;
}

.home-container .circle {
  opacity: 0;
  animation: apparitionSvg 2s 4s ease-in-out forwards;
}


.circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

// ----------------------------------------------------------------
// CONTAINER SITE

//NAV
.home-over-nav {
  height: 6.2rem;
  width: 100%;
  background: #161618;
  border-left: 1px solid #414143;
  position: relative;
}


.show {
  transform: translateX(0px) !important;
  opacity: 1 !important;
}
