// quatrieme----------------------------------------------------------------

.home-quatrieme-div-container {

  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

// quatrieme----------------------------------------------------------------

.home-quatrieme-div-content {
  height: 100%;
  width: 95%;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
  z-index: 2;
}

.home-quatre-title {
  padding: 0 15px;
  margin-bottom: 3.75rem;
}

.home-quatre-article-container-master-flex{
  display: flex;
  justify-content: center;
}


.home-quatre-article-container {
  width: 100%;
  height: 100%;
  // display: flex;
  // justify-content: space-between;

  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Trois colonnes de même taille */
  //gap: 15px; /* Espacement entre les colonnes */
  display: flex;
  justify-content: center;
}

.home-quatre-article {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  // height: fit-content;
  background-color: aqua;
  margin: 0 15px;
  border: 1px solid #111;
  margin-bottom: 1.875rem;
  border-right: .0625rem solid #000;
  filter: drop-shadow(5px 5px 2px #0000001c);
}

.home-quatre-picture {
  position: relative;
  content: "";
  width: 100%;
  height: 260px;
  background-color: #2e2e2e;
}

.picture {
  height: 100%;
  width: auto;
  background-color: #433319;
}

.home-quatre-article-title {
  content: "";
  width: 100%;
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.home-quatre-article-title .text-article-bold{
  // width: 85%;
  padding: 1.875rem 1.875rem 2.8125rem;
}



.clear-h2 {
  color: #11111100;
}

.home-quatre-article-link {
  content: "";
  width: 100%;
  // height: 15%;
  background-color: #ffffff;
  border-top: 1px solid #111;
  display: flex;
  position: relative;
}

.home-quatre-article-link::before {
  border-bottom: 2px solid #e21a41;
  border-top: 2px solid #e21a41;
  transform: scaleX(1);
}

.home-quatre-article-link::after {
  border-left: 2px solid #e21a41;
  border-right: 2px solid #e21a41;
  transform: scaleY(1);
}

.home-quatre-article-link:hover {
  transform: scaleX(1);
  transition: transform .3s cubic-bezier(.5,.15,.5,.85) .1s;
}

.home-quatre-link-text {
  width: 80%;
  height: 100%;
}



.home-quatre-link-text a {
  text-decoration: none;
}

.home-quatre-link-arrow {
  width: 20%;
  border-left: .0625rem solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-quatre-link-arrow a {
  color: #000;
  text-decoration: none;
  transform: rotate(-45deg);
  transition: all .2s linear;
}

.home-quatre-article-link:hover .home-quatre-link-arrow a {
  transform: rotate(0deg);
  transition: all .2s linear;
}

.home-quatrieme-div-content .link-ligne-rouge-container {
  margin-left: 15px;
  background-color: #fff;
}

.home-quatrieme-div-content .link-ligne-rouge-container a {
  color: #000;
}

.shake-article {
  animation:  article-shaking 0.5s forwards;
}


@keyframes article-shaking {
  0% {
    transform:rotate(0deg)
  }
  25% {
    transform:rotate(2deg)
  }

  50% {
    transform:rotate(0deg)
  }
  75% {
    transform:rotate(1deg)
  }
  100% {
    transform:rotate(0deg)
  }
}


// 1365 320px height



@media screen and (max-width: 1365px) {
  .home-quatre-article-container {
    // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Trois colonnes de même taille */
  }

  .home-quatre-article {
    // width: 320px;
  }
}

@media screen and (max-width: 1240px) {
  .home-quatre-article-container {
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Trois colonnes de même taille */
  }

  .home-quatre-article {
    // width: 240px;
  }

  .home-quatre-picture {
    height: 216px;
  }
}

@media screen and (max-width: 940px) {
  .home-quatre-article-container {
    // grid-template-columns: 1fr; /* Trois colonnes de même taille */
  }

  .home-quatre-article {
    // width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .home-quatre-article-container {
    // grid-template-columns: 1fr; /* Trois colonnes de même taille */
  }

  .home-quatre-article {
    // width: 100%;
  }

  .home-quatre-picture {
    height: 156px;
  }
}

@media screen and (max-width: 760px) {
  .home-quatre-article-container {
    // grid-template-columns: 1fr; /* Trois colonnes de même taille */
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .home-quatre-article {
    width: 508px;
  }

  .home-quatre-picture {
    height: 380px;
  }


}

@media screen and (max-width: 560px) {


  .home-quatre-article {
    width: 90%;
  }

  .home-quatre-picture {
    height: 380px;
  }


}

@media screen and (max-width: 460px) {


  .home-quatre-picture {
    height: 270px;
  }


}

@media screen and (max-width: 380px) {


  .home-quatre-picture {
    height: 270px;
  }


}
