// cinq----------------------------------------------------------------

.home-cinq-div-container {
  position: relative;
  overflow: hidden;
}

// cinq----------------------------------------------------------------

.home-cinq-div-content {
  background-color: $gris;
}

.home-cinq-container {
  width: 100%;
  height: 100%;
}

.home-cinq-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home-cinq-gauche-grand {
  content: "";
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  padding: 7.5rem 0;
  z-index: 2;
}



.home-cinq-gauche-petit {
  content: "";
  width: 80%;
  height: 100%;
}

.home-cinq-gauche-text {
  width: 75%;
}


.home-cinq-gauche-text h2 {
  font-family: "Spectral", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1.875rem;
  color: #fff;
  margin-left: 15px;

}

.home-cinq-gauche-text p {
  font-weight: 200;
  color: #fff;
  font-size: 1.07rem;
  margin-bottom: 1.875rem;
  font-family: 'GT America Trial', sans-serif;
  letter-spacing: 0.6px;
  margin-left: 15px;

}

.home-cinq-div-container .link-ligne-rouge-container {
  margin-left: 15px;
}

.home-cinq-droite {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cinq-droite-pic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
}

.home-cinq-droite-pic img {
  width: 100%;
  height: auto;
  opacity: 0.60;
}

.home-cinq-div-container .btn-rouge {
  width: inherit;
  margin-left: 15px;
}


@media screen and (max-width: 1050px) {

  .home-cinq-content {
    flex-direction: column;
  }

  .home-cinq-droite {
    width: 100%;
  }

  .home-cinq-gauche-grand {
    width: 100%;
    justify-content: center;
  }

  .home-cinq-gauche-text {
    width: 100%;
  }

  .home-cinq-gauche {
    width: 100%;
  }

}

@media screen and (max-width: 500px) {

  .home-cinq-gauche-petit {
    width: 90%;
  }

  .home-cinq-div-container .btn-rouge {
    width: 90%;
  }

}
