.pass-nav {
  height: 100%;
  // position: sticky;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
}

// background

.pass-nav-block-noir {
  height: calc(6.5rem - 5px);
  width: 100%;
  background-color: #161618;
  content: "";
}

.colleputain {
  position: sticky;
  bottom: 0;
  z-index: 2;
  height: 100%;
}

.block-noir-ligne {
  height: calc(6.5rem - 7px);
  width: 1px;
  background-color: #414143;
  content: "";
  position: relative;
  z-index: 10000;
}

.block-rouge-ligne {
  height: 100%;
  width: 1px;
  background-color: #8c182f;
  content: "";
  // position: sticky;
  // top: 6.5rem;
}

.ns-page-container {
  position: relative;
  height: fit-content;
}

.ns-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  background-color: #161618;
  margin-left: 1px;
  border-top: #aa1935 1px solid;
}

.ns-fist-arrow-container {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.ns-fist-arrow-container i {
  font-size: 2rem;
  animation: fallAndBounce 6s ease-in-out infinite;
}

@keyframes fallAndBounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-50px);
    /* Chute */
    animation-timing-function: ease-in;
  }
  17% {
    transform: translateY(0px);
    /* Premier rebond */
    animation-timing-function: ease-out;
  }
  23% {
    transform: translateY(-25px);
    /* Deuxième rebond */
    animation-timing-function: ease-in;
  }
  29% {
    transform: translateY(0px);
    /* Petit rebond */
    animation-timing-function: ease-out;
  }
  36% {
    transform: translateY(-7px);
    /* Petit rebond */
    animation-timing-function: ease-out;
  }
  40% {
    transform: translateY(0);
    /* Retour à la position initiale */
  }
  100% {
    transform: translateY(0);
    /* Pause de 4 secondes */
  }
}


.ns-content {
  height: 100%;
  width: 80%;

}

.ns-content::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #aa1935;
  filter: blur(2px);
  z-index: -1;
}

.ns-first {
  height: fit-content;
  width: 100%;
  display: flex;
  color: #fff;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  position: relative;
}



.ns-first a {
  color: #fff;
  position: relative;
}

.ns-first .link-ligne-rouge-container {
  margin-top: 1.875rem;

}

.ns-first-gauche {
  height: 100%;
  width: 50%;


  display: flex;
  align-items: center;
  margin-left: 15px;


  position: relative;
  z-index: 10;
}

.ns-first-logo {
  content: "";
  width: 445px;
  width: 100%;
  height: 445px;
  border-radius: 50%;
  background-color: #152b76;
}

.ns-first-droite {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 10;

  padding: 0 15px;
}

.ns-first-droite img {
  height: auto;
  width: 100%;
}

.ns-first-droite-content {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.ns-first p {
  color: #fff;
  margin: 0;
}


.ns-traits-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  content: "";
}

.ns-trait {
  height: 100%;
  width: 1px;
  background-color: #333335;
  content: "";
  position: relative;
}

.ns-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background: linear-gradient( #333335 0%, #161618 100%);
  content: "";
  z-index: 1;
}

//----------------------------------------------------------------

.ns-site-vitrine h1 {
  color: #fff;
}



// ------------------ services tableau  ----------------------



.home-troisieme-services-div-content {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $gris;
  display: flex;
  justify-content: center;
  padding: 7.5rem 0rem;
  z-index: 10;
}



.home-trois-services-container {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.services-container {
  width: 100%;
  height: fit-content;
  display: flex;
  margin: 0 15px;
  justify-content: space-between;
  // box-shadow: 0 0 0 2px rgba(226, 26, 65, 0.35), 0 0 3px 5px rgba(226, 26, 65, 0.35);
  // outline: 2px dotted transparent;
  // outline-offset: 2px;
}

.one-service-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #161618;
  border: 1px solid var(--tab-color);
}


.one-service-container h3 {
  font-weight: 600;
  font-size: .9rem;
  margin: 1.875rem 0;
  // box-shadow: 0px 4px 0px #e21a41;
  height: fit-content;
  color: #ffffffe5;
  display: block ruby;

}

.one-service-container p {

  color: #ffffffc4;
  border-top: 1px solid var(--tab-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 5px 0px;
  font-size: .8rem;
  min-height: 2rem;
}

// .one-service-container p:nth-child(1n) {
//   background-color: #161618;
// }

.one-service-container p:nth-child(2n) {
  background-color: #242424;
}

.criteras p {
  display: flex;
  justify-content: start;
  padding: 5px 0px 5px 15px;
  font-style: italic;
  font-weight: 500;
  display: block ruby;
}



//----------------------------------------------------------------
// test

.ns-carrou-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ns-carrou-content {
  width: 80%;
  display: flex;
  border: 1px solid #8e8e8e;
  color: #fff;
}

.ns-carrou-gauche {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ns-carrou-gauche h3 {
  display: flex;
  justify-content: center;
}

.ns-carrou-gauche img {
  width: 90%;
  height: auto;
  filter: drop-shadow(4px 4px 8px rgba(162, 162, 162, 0.43));
}

.ns-carrou-droite {
  width: 50%;
}

.ns-carrou-droite h3 {
  display: flex;
  justify-content: center;
}

.ns-carrou-list-container {
  display: flex;
  justify-content: center;
}

.ns-carrou-list {

}

.ns-carrou-droite p {
  margin-bottom: 0;
  padding-bottom: .5rem;
  font-size: .9rem;
}

// test
