.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 1.875rem;
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}


.projects-grid .home-quatre-article {
  width: 352px;
  height: fit-content;
  margin-bottom: 50px;
}

.la-ligne-rouge {
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  content: "";
  background-color: red;
}

.home-quatre-title h2 {
  color: #111;
}
