.anti-nav {
  content: "";
  height: 6.5rem;
  width: 100%;
  background-color: rgb(70, 70, 70);
}

.test-container {
  content: "";
  height: 400px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.test-content {

  content: "";
  height: 400px;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.test-gauche {
  content: "";
  height: 75%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.test-gauche-oneline {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}


.test-gauche-logo {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  content: "";
  background-color: #979797;
  opacity: 0.5;
}


.test-gauche-logo-show {
  opacity: 1 !important;
  background-color: #e21a41;
}

.test-gauche-title {
  font-size: 1.07rem;
  font-weight: 400;
  font-family: 'GT America Trial', sans-serif;
  letter-spacing: 0.6px;
}

.test-gauche-oneline:hover .test-gauche-title {
  color: #e21a41;
}

.test-gauche-oneline:hover .test-gauche-logo {
  background-color: #e21a41;
}

.test-gauche-title-show {
  color: #e21a41 !important;
  opacity: 1 !important;
}



.test-gauche p {
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 0;
}

.test-gauche-line {
  background-color: #e21a4200;
  content: "";
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  right: 0;

}

.test-gauche-line-show {
  background-color: #e21a41;
  content: "";
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  right: 0;
}



.test-milieu {
  background-color: #eee;;
  content: "";
  height: 75%;
  width: 2px;
}

.test-droite {
  content: "";
  height: 75%;
  width: 65%;
  display: flex;
  flex-direction: column;

}
