// ns-first ----------------------------------------------------------------
.ns-container {
  display: flex;
  justify-content: center;
  position: relative;
  // z-index: 10;
  background-color: #161618;
  margin-left: 1px;
  border-top: #aa1935 1px solid;
  min-height: calc(100vh - 6.2rem);
}

.ns-fist-arrow-container {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.ns-fist-arrow-container i {
  font-size: 2rem;
  animation: fallAndBounce 6s ease-in-out infinite;
}

@keyframes fallAndBounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-50px);
    /* Chute */
    animation-timing-function: ease-in;
  }
  17% {
    transform: translateY(0px);
    /* Premier rebond */
    animation-timing-function: ease-out;
  }
  23% {
    transform: translateY(-25px);
    /* Deuxième rebond */
    animation-timing-function: ease-in;
  }
  29% {
    transform: translateY(0px);
    /* Petit rebond */
    animation-timing-function: ease-out;
  }
  36% {
    transform: translateY(-7px);
    /* Petit rebond */
    animation-timing-function: ease-out;
  }
  40% {
    transform: translateY(0);
    /* Retour à la position initiale */
  }
  100% {
    transform: translateY(0);
    /* Pause de 4 secondes */
  }
}


.ns-content {
  height: 100%;
  width: 80%;

}

.ns-content::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #aa1935;
  filter: blur(2px);
  z-index: -1;
}

.ns-first {
  height: fit-content;
  width: 100%;
  display: flex;
  color: #fff;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  position: relative;
}



.ns-first a {
  color: #fff;
  position: relative;
}

.ns-first .link-ligne-rouge-container {
  margin-top: 1.875rem;
  background-color: #161618;
}

.ns-first-gauche {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  // margin-left: 15px;

  position: relative;
  z-index: 10;
}

.ns-first-logo {
  content: "";
  width: 445px;
  // width: 100%;
  // height: 445px;
  border-radius: 50%;
  //background-color: #152b76;
}

.ns-first-droite {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 10;

  padding: 0 15px;
}

.ns-first-droite img {
  height: auto;
  width: 100%;
}

.ns-first-droite-content {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.ns-first-droite-content h2 {
  // margin-bottom: 1.875rem !important;
  // line-height: normal !important;
  margin-left: 15px;

}

.ns-first p {
  color: #fff;
  margin: 0;
}


.ns-traits-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  content: "";
}

.ns-trait {
  height: 100%;
  width: 1px;
  background-color: #333335;
  content: "";
  position: relative;
}

// .ns-fade {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   height: 10%;
//   width: 100%;
//   background: linear-gradient( #333335 0%, #161618 100%);
//   content: "";
//   z-index: 1;
// }

//----------------------------------------------------------------

.ns-site-vitrine h1 {
  color: #fff;
}

.ns-first-gauche-block-border-left-red {
  border-left: 1px solid #e21a41;
  padding-left: 15px;
}
