<div class="footer">

  <div class="footer-title">
    <h3><%= t('footer.title') %></h3>
  </div>

  <div class="footer-p">
    <p><%= t('footer.passion') %></p>
  </div>



  <div class="footer-links">
    <a href="https://www.linkedin.com/in/dorian-fiolet-006428255" target="_blank"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
    <a href="https://github.com/FLTDev3012" target="_blank"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
    <a href="https://www.instagram.com/dorian3012" target="_blank"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
  </div>

  <div class="footer-copyright">
    <p><%= t('footer.copyright') %></p>
  </div>

</div>
