<div class="newnav-container">
  <div class="newnav-logo">
    <%= link_to "test1", root_path %>
  </div>
  <div class="newnav-list">
    <%= link_to "test1", root_path %>
    <%= link_to "test2", root_path %>
    <%= link_to "test3", root_path %>

  </div>
</div>
