<div class="home-seconde-div-container">
  <div class="home-seconde-div-content">
    <div class="home-seconde-content-little">

      <div class="home-seconde-gauche">
        <!-- <div class="home-seconde-logo"><%= image_tag("uh_logo_161618.png") %></div> -->
        <h2 class="text-title">Unlock Horizons</h2>
      </div>

      <div class="home-seconde-centre">
      </div>

      <div class="home-seconde-droite js-home-seconde-text">
        <p class="text-bold">I provide businesses with the visibility they need to ensure their online presence and expand your horizons.</p>
        <p class="text-lighty">Unlock horizons agency, is specialize in creating various online solutions tailored to your needs. From captivating showcase websites that highlight your brand's story, to flexible CMS platforms that allow you to manage content seamlessly, and robust e-commerce sites that boost sales</p>
        <div class="home-seconde-droite-link-container">
          <div class="home-seconde-droite-link-hover-red"></div>
          <%= link_to 'Learn About Me', about_path, class: 'text-bold' %>
        </div>
      </div>

    </div>
  </div>
</div>

<script>

  window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;





      var scrollText = document.querySelector('.js-home-seconde-text');

      if (scrollPosition > 350) {
        scrollText.classList.add('show');
      } else {
        scrollText.classList.remove('show');
      }


    });
</script>
