<div class="home-first-div-container">
  <div class="home-first-div-content">


    <div class="imagevague-container">
      <%= image_tag("lignevague.png", class: "imagevague") %>
    </div>

    <%= render "shared/lignesverticales" %>

    <div class="home-container-text-pic">
      <div class="home-content">

        <div class="test-home-first-img-container">
          <%= image_tag("uh_logo_white.png") %>
        </div>

        <div class="test-home-first-title-container">
          <div class="home-red-ligne-around-title"></div>
          <h1>WEB DEVELOPMENT SERVICES</h1>
          <div class="home-red-ligne-around-title"></div>
        </div>

      </div>
    </div>

    <div class="home-fist-arrow-container">
      <i class="fa-solid fa-caret-down" style="color: #e21a41;"></i>
    </div>

  </div>
</div>
