<div class="home-quatrieme-div-container">
  <div class="home-quatrieme-div-content">

    <div class="home-quatre-title">
      <h2 class="text-title">Projects</h2>
    </div>

    <div class="home-quatre-article-container">

      <div class="home-quatre-article js-home-fourth-article-first">
        <div class="home-quatre-picture">
          <div class="picture"></div>
        </div>
        <div class="home-quatre-article-title">
          <h2 class="text-article-bold">A Second Calling for Retired CIA K9s</h2>
        </div>
        <div class="home-quatre-article-link">
          <div class="home-quatre-link-text">
            <a href="#" class="text-article-link">Read More</a>
          </div>
          <div class="home-quatre-link-arrow">
            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="home-quatre-article js-home-fourth-article-second">
        <div class="home-quatre-picture">
          <div class="picture"></div>
        </div>
        <div class="home-quatre-article-title">
          <h2 class="text-article-bold">Wanderers in a Wonderful World</h2>
        </div>
        <div class="home-quatre-article-link">
          <div class="home-quatre-link-text">
            <a href="#" class="text-article-link">Read More</a>
          </div>
          <div class="home-quatre-link-arrow">
            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="home-quatre-article js-home-fourth-article-third">
        <div class="home-quatre-picture">
          <div class="picture"></div>
        </div>
        <div class="home-quatre-article-title">
          <h2 class="text-article-bold">Ask Molly: IC Flags</h2>
          <h2 class="text-article-bold clear-h2">*</h2>

        </div>
        <div class="home-quatre-article-link">
          <div class="home-quatre-link-text">
            <a href="#" class="text-article-link">Read More</a>
          </div>
          <div class="home-quatre-link-arrow">
            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="link-ligne-rouge-container">
      <div class="link-ligne-rouge-red"></div>
      <%= link_to 'Explore All Projects', projects_path, class: 'text-bold', data: { turbo: false } %>
    </div>




  </div>
</div>


<script>
  window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;

      // Sélectionnez les trois éléments que vous souhaitez animer
      var scrollHomeFourthArticleFirst = document.querySelector('.js-home-fourth-article-first');
      var scrollHomeFourthArticleSecond = document.querySelector('.js-home-fourth-article-second');
      var scrollHomeFourthArticleThird = document.querySelector('.js-home-fourth-article-third');

      // Vérifiez si le défilement dépasse 1650 pour déclencher les animations
      if (scrollPosition > 1650) {
        // Premier élément : aucun délai
        scrollHomeFourthArticleFirst.classList.add('shake-article');

        // Deuxième élément : délai de 1 seconde
        setTimeout(function() {
          scrollHomeFourthArticleSecond.classList.add('shake-article');
        }, 250);

        // Troisième élément : délai de 2 secondes
        setTimeout(function() {
          scrollHomeFourthArticleThird.classList.add('shake-article');
        }, 500);
      } else {
        // Retirer les classes lorsque l'utilisateur revient en arrière
        scrollHomeFourthArticleFirst.classList.remove('shake-article');
        scrollHomeFourthArticleSecond.classList.remove('shake-article');
        scrollHomeFourthArticleThird.classList.remove('shake-article');
      }
    });
</script>
