<div class="ns-container">
    <div class="ns-content">

      <div class="ns-first">

        <div class="ns-traits-container">
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
        </div>

        <div class="ns-first-gauche">
          <div class="ns-first-droite-content">
            <h2 class="text-title">Choose Your Website</h2>
            <p class="text-bold">Sigle Page, Showcase Site, CMS "Content Management System", E-commerce Site, Web Application</p>
            <p class="text-lighty">We offer a range of services, including captivating showcase websites to present your brand, flexible CMS platforms to manage your content effortlessly, and robust e-commerce sites to boost your sales.</p>
            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Discover Our Services</a>
            </div>
          </div>
        </div>

        <div class="ns-first-droite">
          <div class="ns-first-logo"><%= image_tag("test.png") %></div>

        </div>

      </div>

    </div>

    <div class="ns-fist-arrow-container">
      <i class="fa-solid fa-circle-down" style="color: #fff;"></i>
    </div>

  </div>
