<!-- stimulus -->
  <div class="ns-stimulus-container" data-controller="critere">
    <div class="ns-stimulus-content">

      <h2 class="text-title">Guide to Website Styles</h2>

      <div class="ns-stimulus-gauche">

        <div class="ns-stimulus-gauche-oneline opacity-one" data-action="click->critere#update1" data-critere-target="premiercrittitle">
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <div class="text-bold">Landing Page</div>
          </div>
        </div>

        <div class="ns-stimulus-gauche-oneline"  data-action="click->critere#update2" data-critere-target="deuxiemecrittitle">
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <div class="text-bold">Showcase Site</div>
          </div>
        </div>

        <div class="ns-stimulus-gauche-oneline" data-action="click->critere#update3" data-critere-target="troisiemecrittitle">
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <div class="text-bold">CMS</div>
          </div>
        </div>

        <div class="ns-stimulus-gauche-oneline" data-action="click->critere#update4" data-critere-target="quatriemecrittitle">
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <div class="text-bold">E-Commerce</div>
          </div>
        </div>

        <div class="ns-stimulus-gauche-oneline" data-action="click->critere#update5" data-critere-target="cinquiemecrittitle">
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <div class="text-bold">Web Application</div>
          </div>
        </div>

      </div>



      <div class="ns-stimulus-droite">

        <h3 class="text-title" data-critere-target="premiercritheader">Landing Page</h3>
        <h3 class="text-title d-none" data-critere-target="deuxiemecritheader">Showcase Site</h3>
        <h3 class="text-title d-none" data-critere-target="troisiemecritheader">Content Management System</h3>
        <h3 class="text-title d-none" data-critere-target="quatriemecritheader">E-Commerce</h3>
        <h3 class="text-title d-none" data-critere-target="cinquiemecritheader">Web Application</h3>


        <p class="text-lighty" data-critere-target="premiercritheader">A single page specifically designed to capture attention and drive action, often used to showcase company services, advertising campaigns, or special promotions.</p>
        <p class="text-lighty d-none" data-critere-target="deuxiemecritheader">A website that showcases products, services, or projects in a visually appealing way, often used to demonstrate a company's expertise or offerings.</p>
        <p class="text-lighty d-none" data-critere-target="troisiemecritheader">A solution that allows you to easily create, manage, edit, delete, and publish web content from your dashboard, used to showcase a company's services and articles.</p>
        <p class="text-lighty d-none" data-critere-target="quatriemecritheader">A website dedicated to the online sale of products or services, featuring functionalities to add, edit, and delete items, manage orders and payments, and offer delivery options.</p>
        <p class="text-lighty d-none" data-critere-target="cinquiemecritheader">An application accessible via a web browser, offering interactive features and online services, often used for specific tasks, such as a dating site.</p>



        <div class="ns-stimulus-droite-crit-container">
          <div class="ns-stimulus-droite-crit-grid">
            <div class="ns-stimulus-droite-one-crit">
              <p class="crit-present" data-critere-target="premiercrit">Presentation of information</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p class="crit-present" data-critere-target="premiercrit">Image gallery</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p class="crit-present"data-critere-target="premiercrit">Contact information</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p class="crit-present"data-critere-target="premiercrit">Multi-screen adaptability</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Article creation</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Categories and filters</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Media management</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Comments and sharing</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Admin interface</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">User management</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Shopping cart</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Inventory management</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Payment processing</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Order management</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Customer management</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Management interface</p>
            </div>



          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- stimulus -->
