<div class="ns-pdo-container">
  <div class="ns-pdo-content">

    <!-- landing page ------------------------------------ -->
    <div class="ns-pdo-black-container">
      <div class="ns-pdo-black-content">

        <div class="ns-traits-container">
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
        </div>

        <div class="ns-pdo-black-gauche">
          <div class="ns-pdo-black-gauche-img"></div>
        </div>

        <div class="ns-pdo-black-droite">
          <div class="ns-pdo-black-droite-content">
            <h2 class="text-title">Landing Page</h2>
            <p class="text-bold">Site a page unique</p>
            <p class="text-lighty">Une page unique spécialement conçue pour attirer l’attention et inciter à l’action, souvent utilisée pour proposer les services de son entreprises, des campagnes publicitaires ou des promotions spécifiques.</p>

            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Visualiser une page type</a>
            </div>

            <div class="link-ligne-rouge-container link-estimation">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Estimation</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- site vitrine ------------------------------------ -->
    <div class="ns-pdo-white-container">
      <div class="ns-pdo-white-content">



        <div class="ns-pdo-white-gauche">
          <div class="ns-pdo-white-gauche-content">
            <h2 class="text-title">Site vitrine</h2>
            <p class="text-bold">Site a page unique</p>
            <p class="text-lighty">Une page unique spécialement conçue pour attirer l’attention et inciter à l’action, souvent utilisée pour proposer les services de son entreprises, des campagnes publicitaires ou des promotions spécifiques.</p>

            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Visualiser une page type</a>
            </div>

            <div class="link-ligne-rouge-container link-estimation">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Estimation</a>
            </div>

          </div>
        </div>

        <div class="ns-pdo-white-droite">
          <div class="ns-pdo-white-droite-img"></div>
        </div>

      </div>
    </div>

    <!-- cms ------------------------------------ -->
    <div class="ns-pdo-black-container">
      <div class="ns-pdo-black-content">

        <div class="ns-traits-container">
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
        </div>

        <div class="ns-pdo-black-gauche">
          <div class="ns-pdo-black-gauche-img"></div>
        </div>

        <div class="ns-pdo-black-droite">
          <div class="ns-pdo-black-droite-content">
            <h2 class="text-title">CMS</h2>
            <p class="text-bold">Site a page unique</p>
            <p class="text-lighty">Une page unique spécialement conçue pour attirer l’attention et inciter à l’action, souvent utilisée pour proposer les services de son entreprises, des campagnes publicitaires ou des promotions spécifiques.</p>

            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Visualiser une page type</a>
            </div>

            <div class="link-ligne-rouge-container link-estimation">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Estimation</a>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- e-commerce ------------------------------------ -->
    <div class="ns-pdo-white-container">
      <div class="ns-pdo-white-content">



        <div class="ns-pdo-white-gauche">
          <div class="ns-pdo-white-gauche-content">
            <h2 class="text-title">E-commerce</h2>
            <p class="text-bold">Site a page unique</p>
            <p class="text-lighty">Une page unique spécialement conçue pour attirer l’attention et inciter à l’action, souvent utilisée pour proposer les services de son entreprises, des campagnes publicitaires ou des promotions spécifiques.</p>

            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Visualiser une page type</a>
            </div>

            <div class="link-ligne-rouge-container link-estimation">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Estimation</a>
            </div>


          </div>
        </div>

        <div class="ns-pdo-white-droite">
          <div class="ns-pdo-white-droite-img"></div>
        </div>

      </div>
    </div>

    <!-- web app ------------------------------------ -->
    <div class="ns-pdo-black-container">
      <div class="ns-pdo-black-content">

        <div class="ns-traits-container">
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
        </div>

        <div class="ns-pdo-black-gauche">
          <div class="ns-pdo-black-gauche-img"></div>
        </div>

        <div class="ns-pdo-black-droite">
          <div class="ns-pdo-black-droite-content">
            <h2 class="text-title">Web Application</h2>
            <p class="text-bold">Site a page unique</p>
            <p class="text-lighty">Une page unique spécialement conçue pour attirer l’attention et inciter à l’action, souvent utilisée pour proposer les services de son entreprises, des campagnes publicitaires ou des promotions spécifiques.</p>

            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Visualiser une page type</a>
            </div>

            <div class="link-ligne-rouge-container link-estimation">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Estimation</a>
            </div>


          </div>
        </div>

      </div>
    </div>

    <!-- qr code ------------------------------------ -->
    <div class="ns-pdo-white-container">
      <div class="ns-pdo-white-content">



        <div class="ns-pdo-white-gauche">
          <div class="ns-pdo-white-gauche-content">
            <h2 class="text-title">Qr Code Bar/Restaurant</h2>
            <p class="text-bold">Site a page unique</p>
            <p class="text-lighty">Une page unique spécialement conçue pour attirer l’attention et inciter à l’action, souvent utilisée pour proposer les services de son entreprises, des campagnes publicitaires ou des promotions spécifiques.</p>

            <div class="ns-pdo-two-link">
              <div class="link-ligne-rouge-container">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Visualiser une page type</a>
              </div>

              <div class="link-ligne-rouge-container link-estimation">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Estimation</a>
              </div>
            </div>

          </div>
        </div>

        <div class="ns-pdo-white-droite">
          <div class="ns-pdo-white-droite-img"></div>
        </div>

      </div>
    </div>


  </div>
</div>
