<div class="home-troisieme-div-container">
    <div class="home-troisieme-div-content">

      <div class="home-content-trait">
        <div class="home-trait trait-un"></div>
        <div class="home-trait trait-un"></div>
        <div class="home-trait trait-un"></div>
        <div class="home-trait trait-un"></div>
      </div>

      <div class="home-trois-container">

        <div class="home-trois-gauche">
          <div class="home-trois-gauche-logo"></div>
        </div>

        <div class="home-trois-droite">
          <div class="home-trois-droite-content">

            <h2>Our Legacy</h2>
            <p class="text-little-bold">CIA’s legacy is one of brave individuals dedicated to freedom, fulfilling our intelligence mission with ingenuity and grit</p>
            <p class="text-little-light">Protecting our country is at the heart of our mission — past, present, and future. From our World War II roots through today, we carry on the traditions of ingenuity, bravery, and quiet sacrifice that have made us the world’s premier foreign intelligence agency.</p>
            <div class="home-trois-droite-link-container">
              <div class="home-trois-droite-link-red"></div>
              <a href="#" class="text-little-bold">Discover Our Legacy</a>
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
