<div class="home-seconde-div-container">
    <div class="home-seconde-div-content">
      <div class="home-seconde-content-little">

        <div class="home-seconde-gauche">
          <div class="home-seconde-logo"></div>
          <h2>Our Agency</h2>
        </div>

        <div class="home-seconde-centre">
        </div>

        <div class="home-seconde-droite">
          <p class="text-little-bold">We give U.S. leaders the intelligence they need to keep our country safe</p>
          <p class="text-little-light">As the world’s premier foreign intelligence agency, the work we do at CIA is vital to U.S. national security. We collect and analyze foreign intelligence and conduct covert action. U.S. policymakers, including the President of the United States, make policy decisions informed by the information we provide.</p>
          <div class="home-seconde-droite-link-container">
            <div class="home-seconde-droite-link-hover-red"></div>
            <a href="#" class="text-little-bold">Learn About Us</a>
          </div>
        </div>

      </div>
    </div>
  </div>
