<div class="home-troisieme-div-container">
  <div class="home-troisieme-div-content">

    <%= render "shared/lignesverticales" %>

    <div class="home-trois-container">

      <div class="home-trois-gauche">
        <div class="home-trois-gauche-logo"></div>
      </div>

      <div class="home-trois-droite">
        <div class="home-trois-droite-content">

          <h2 class="text-title">Our Services</h2>
          <p class="text-bold">We accomplish our mission of creating web solutions with ingenuity and determination, always dedicated to your online success.</p>
          <p class="text-lighty">We offer a range of services, including captivating showcase websites to present your brand, flexible CMS platforms to manage your content effortlessly, and robust e-commerce sites to boost your sales.</p>
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <a href="#" class="text-bold">Discover Our Services</a>
          </div>

        </div>
      </div>

    </div>


  </div>
</div>
