<div class="home-cinq-div-container">
    <div class="home-cinq-div-content">

      <%= render "shared/lignesverticales" %>

      <div class="home-cinq-container">
        <div class="home-cinq-content">


          <div class="home-cinq-gauche-grand">
            <div class="home-cinq-gauche-petit">
              <div class="home-cinq-gauche-text">
                <h2>The World Factbook</h2>
                <p>Explore the globe, CIA-style. Learn about the world’s regions, countries, oceans, and so much more.</p>
                <div class="home-trois-droite-link-container">
                  <a href="#">Visit World Factbook</a>
                </div>
              </div>
            </div>
          </div>

          <div class="home-cinq-droite">
            <div class="home-cinq-droite-pic"></div>
          </div>


        </div>
      </div>





    </div>
  </div>
