<!-- estimation -->
<script>

  document.addEventListener("turbo:load", function() {
    const totalPriceElement = document.getElementById('total-price');
    const totalContainer = document.getElementById('total-container'); // Corrected to getElementsByClassName
    let totalPrice = 0;

    // Fonction pour mettre à jour le prix total
    function updateTotalPrice() {
      totalPrice = 0;
      const allCheckedCheckboxes = document.querySelectorAll('.price-checkbox:checked');
      allCheckedCheckboxes.forEach((checkbox) => {
        totalPrice += parseInt(checkbox.getAttribute('data-price'), 10);
      });
      totalPriceElement.textContent = totalPrice;

      // Vérifie si le total est 0 et applique les classes de style
      if (totalPrice === 0) {
        // mettre display: none à .stimation-result-total-container
        totalContainer.style.display = 'none';
      } else {
        // mettre display: block à .stimation-result-total-container
        totalContainer.style.display = 'block';
      }
    }

    // Gérer les sélections uniques par catégorie
    function handleSingleOption(categoryClass) {
      const checkboxes = document.querySelectorAll(`.${categoryClass}`);
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function() {
          if (this.checked) {
            // Décocher les autres cases dans la même catégorie et réinitialiser le fond
            checkboxes.forEach((cb) => {
              if (cb !== this) {
                cb.checked = false;
                cb.parentElement.style.backgroundColor = ''; // Réinitialiser le fond
              }
            });
            this.parentElement.style.backgroundColor = '#e21a41'; // Appliquer le fond rouge
          } else {
            this.parentElement.style.backgroundColor = ''; // Réinitialiser si décochée
          }
          updateTotalPrice();
        });
      });
    }

    // Appliquer la gestion aux catégories
    handleSingleOption('category-1');
    handleSingleOption('category-2');
    handleSingleOption('category-3');
    handleSingleOption('category-4');

    // Gestion pour les sélections multiples
    const multipleCheckboxes = document.querySelectorAll('.multiple-option');
    multipleCheckboxes.forEach((checkbox) => {
      checkbox.addEventListener('change', function() {
        if (this.checked) {
          this.parentElement.style.backgroundColor = '#e21a41'; // Appliquer le fond rouge
        } else {
          this.parentElement.style.backgroundColor = ''; // Réinitialiser si décochée
        }
        updateTotalPrice();
      });
    });

    // Initialiser le prix total au chargement de la page
    updateTotalPrice();
  });

</script>



<!-- ESTIMATION ----------------------------------------------------------- -->

<div class="pass-nav-block-noir"></div>

<div class="estimation-container-black">
  <div class="imagevague-container">
    <%= image_tag("lignevague.png", class: "imagevague") %>
  </div>
  <div class="estimation-content">

    <div class="estimation-first-div">

      <div class="estimation-gauche">
        <h1 class="text-main-title">Estimation</h1>
        <div class="home-first-para-link-container">
          <p class="text-bold">Estimez le cout de votre futur site en quelques clic !</p>
          <p class="text-lighty">En plus des nombreuses fonctionalitées de votre sites vous avez ici la possibilitée de customiser à votre souhait en y ajoutant les fonctionalité suivantes si vous le desire</p>
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <a href="#" class="text-bold">decouvrir</a>
          </div>
        </div>
      </div>

      <div class="estimatiom-droite">
        <p>droite</p>
      </div>

    </div>

  </div>
</div>


<div class="estimation-container-white" data-controller="estimation">
  <div class="estimation-content">

    <h2 class="text-main-title">recapituluatif </h2>
    <p>dans ce tableau vous pouvez visualiser les attribues par defaut par style de site </p>

    <div class="estimation-choix-result-container">

      <div class="estimation-choix-gauche">
        <!-- Première catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">1 : Sélection unique style de site</h3>

          <label data-action="click->estimation#first_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="1500">Landing Page - $ 1.500
          </label>

          <label data-action="click->estimation#first_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="3000"> Site Vitrine - $ 3.000
          </label>

          <label data-action="click->estimation#first_cat_second_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="4000"> Content Management System - $ 4.000
          </label>

          <label data-action="click->estimation#first_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="30000"> E-commerce - $ 30.000
          </label>

          <label data-action="click->estimation#first_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="30000"> Web application - $ 30.000
          </label>

          <label data-action="click->estimation#first_cat_fourth_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="8000"> QR Code Bar/Restaurant - $ 8.000
          </label>

        </div>

        <!-- Deuxieme catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">2 : Sélection unique Besoin d un template</h3>
          <label data-action="click->estimation#second_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-2" data-price="0"> Non - $ 0
          </label>
          <label data-action="click->estimation#second_cat_second_choice">
            <input type="checkbox" class="price-checkbox single-option category-2" data-price="1000"> Oui - $ 1.000
          </label>
        </div>




        <!-- Troisieme catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">3 : Sélection unique animation du site</h3>

          <label data-action="click->estimation#third_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-3" data-price="0"> standard - $ 0
          </label>

          <label data-action="click->estimation#third_cat_second_choice">
            <input type="checkbox" class="price-checkbox single-option category-3" data-price="500"> dynamique - $ 500
          </label>

          <label data-action="click->estimation#third_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-3" data-price="2000"> creatif - $ 2.000
          </label>
        </div>

        <!-- Quatrieme catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">4 : Sélection unique contact du site</h3>

          <label data-action="click->estimation#fourth_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-4" data-price="0"> link - $ 0
          </label>

          <label data-action="click->estimation#fourth_cat_second_choice">
            <input type="checkbox" class="price-checkbox single-option category-4" data-price="400"> form stock in website - $ 400
          </label>

          <label data-action="click->estimation#fourth_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-4" data-price="800"> form send a email - $ 800
          </label>

        </div>

        <!-- Cinquieme catégorie : plusieurs options sélectionnables -->
        <div>
          <h3 class="text-bold">5 : Sélection multiple ajout les plus demander</h3>

          <label data-action="click->estimation#fifth_cat_first_choice">
            <input type="checkbox" class="price-checkbox multiple-option" data-price="400"> map - $ 400
          </label>

          <label data-action="click->estimation#fifth_cat_second_choice">
            <input type="checkbox" class="price-checkbox multiple-option" data-price="200"> commentaire avis - $ 200
          </label>

        </div>




      </div>





      <div class="estimation-result-droite">

        <h3 class="estimation-result-title">Votre site</h3>

        <p data-estimation-target="firstCatFirstType" >- Présentation de l'information</p>
        <p data-estimation-target="firstCatFirstType" >- Galerie d'images</p>
        <p data-estimation-target="firstCatFirstType firstCatFourthType" >- Informations de contact</p>
        <p data-estimation-target="firstCatFirstType" >- Screen adaptability</p>
        <p data-estimation-target="firstCatSecondType" >- Création d'articles</p>
        <p data-estimation-target="firstCatSecondType" >- Catégories et filtres</p>
        <p data-estimation-target="firstCatSecondType" >- Gestion des médias</p>
        <p data-estimation-target="firstCatSecondType firstCatFourthType" >- Commentaires et partage</p>
        <p data-estimation-target="firstCatSecondType" >- Interface d'administration</p>
        <p data-estimation-target="firstCatThirdType" >- Gestion des utilisateurs</p>
        <p data-estimation-target="firstCatThirdType" >- Panier d'achat</p>
        <p data-estimation-target="firstCatThirdType" >- Gestion des stocks</p>
        <p data-estimation-target="firstCatThirdType" >- Traitement des paiements</p>
        <p data-estimation-target="firstCatThirdType" >- Gestion des commandes</p>
        <p data-estimation-target="firstCatThirdType" >- Gestion des clients</p>
        <p data-estimation-target="firstCatThirdType" >- Interface de gestion</p>
        <p data-estimation-target="secondCatSecondType" >- Creation d'un Template</p>
        <p data-estimation-target="thirdCatFirstType" >- Animation du site Standard</p>
        <p data-estimation-target="thirdCatSecondType" >- Animation du site dynamique</p>
        <p data-estimation-target="thirdCatThirdType" >- Animation du site creatif</p>
        <p data-estimation-target="fourthCatFirstType" >- contact par lien</p>
        <p data-estimation-target="fourthCatSecondType" >- contact par formulaire dans le site</p>
        <p data-estimation-target="fourthCatThirdType" >- contact par formulaire envoyer en e-mail</p>
        <p data-estimation-target="fifthCatFirstType" >- ajout d'une map</p>
        <p data-estimation-target="fifthCatSecondType" >- ajout des commentaires avis</p>

        <div class="estimation-result-total-container">
          <p id="total-container" class="estimation-result-total">Total:&nbsp;<span id="total-price"> 0 </span>$</p>
        </div>
      </div>

    </div>

  </div>

</div>
