<div class="home-main-black-trait">
  <div class="home-main-trait">
    <div class="home-trait"></div>
    <div class="home-trait"></div>
    <div class="home-trait"></div>
    <div class="home-trait"></div>
  </div>
</div>


<div class="home-div-one">
</div>

<div class="home-div-two">
</div>

<div class="home-div-three">
</div>
