<div class="legal-container">

  <br><br><br><br><br><br>

  <!-- Legal Mentions -->
  <h1>Legal Mentions and Privacy Policy</h1>

  <section id="legal-mentions">
      <h2>Legal Mentions</h2>
      <p><strong>Site Editor:</strong></p>
      <ul>
          <li><strong>Company Name:</strong> FIOLET, DORIAN</li>
          <li><strong>Legal Form:</strong> Individual/Sole Trader - Registered as a Sole Trader in Australia</li>
          <li><strong>Registration Number:</strong> ABN 52 688 584 213 - Australian Business Number</li>
          <li><strong>ABN Status:</strong> Active since June 20, 2022</li>
          <li><strong>Not registered for GST:</strong> (Goods & Services Tax)</li>
          <li><strong>Main Business Address:</strong> Queensland, QLD 4000, Australia</li>
          <li><strong>Publication Manager:</strong> Dorian Fiolet</li>
      </ul>
      <p><strong>Contact:</strong></p>
      <ul>
          <!-- <li>Email: [Your professional email]</li> -->
          <li>Phone: +33776059620</li>
      </ul>
      <p><strong>Website Hosting:</strong></p>
      <ul>
          <li>Name: [HEROKU]</li>
          <li>Address: Salesforce Tower, 415 Mission Street, 3rd Floor, San Francisco, CA 94105, USA</li>
          <li>Contact: https://www.heroku.com/contact</li>
      </ul>
      <p><strong>Intellectual Property:</strong> The content of the site (texts, images, logos, etc.) is the exclusive property of unlockhorizons.com. Any reproduction, distribution, modification, or commercial use is prohibited without prior authorization.</p>
      <p><strong>Liability:</strong> unlockhorizons.com disclaims any liability for misuse of the information provided on the site or damages caused by accessing the site.</p>
  </section>

  <!-- Privacy Policy -->
  <section id="privacy-policy">
      <h2>Privacy Policy</h2>
      <p><strong>Data Collected:</strong> We collect only the following information:</p>
      <ul>
          <li>First and last name (via contact form)</li>
          <li>Email address (via contact form)</li>
          <li>Phone number (via contact form)</li>
          <li>Message submitted via our contact form</li>
      </ul>
      <p><strong>Purpose of Collected Data:</strong> The collected data is used solely to respond to your requests and will not be used for any other commercial purposes or shared with third parties.</p>
      <p><strong>Data Retention Period:</strong> Your data will be retained for 3 months after your last contact with us.</p>
      <p><strong>Your Rights:</strong> You have the following rights regarding your personal data:</p>
      <ul>
          <li>Access to your data</li>
          <li>Rectification or deletion of your data</li>
          <li>Limitation or objection to the processing of your data</li>
      </ul>
      <p>To exercise your rights, please contact us at: +33776059620.</p>
  </section>

  <!-- Terms and Conditions of Sale -->
  <section id="terms-conditions">
    <h2>Terms and Conditions of Sale</h2>
    <p><strong>Services Offered:</strong> We offer the following services: creation and development of custom websites.</p>
    <p><strong>Pricing:</strong> Prices are listed in Euros or Australian Dollars depending on your location and are not subject to VAT under Article 293 B of the French General Tax Code (CGI).</p>
    <p><strong>Payment Terms:</strong> A deposit of 50% is required before the start of the work. The remaining balance is due upon delivery.</p>
    <p><strong>Right of Withdrawal:</strong> In accordance with the legislation, the client has 14 days to exercise their right of withdrawal from the date of signing the contract, unless the service has already begun with the client’s prior consent.</p>
    <p><strong>Project Delivery:</strong> The code and functionality of the website will be delivered in the form of source files and documentation. Uploading and deployment on a server are the client's responsibility, or can be handled for an additional fee.</p>
    <p><strong>Code Ownership:</strong> The source code developed for the website remains the exclusive property of FIOLET, DORIAN. The client obtains a non-exclusive, non-transferable license to use the code for the needs of their website. Any modification, redistribution, or commercial use of the code without prior authorization from FIOLET, DORIAN is prohibited.</p>
    <p><strong>Maintenance:</strong> Maintenance of the website is not included in the basic services. Once the website is delivered, any requests for maintenance, updates, or bug fixes will be billed separately and may be subject to a specific maintenance contract if necessary. The client is responsible for the ongoing management of the website after delivery.</p>
    <p><strong>Responsibilities:</strong> unlockhorizons.com agrees to deliver the website as per the agreed specifications. We disclaim any responsibility for indirect damages or issues arising from the use of the website after delivery.</p>
    <p><strong>Domain Name and Hosting:</strong> The client is responsible for purchasing, managing, and configuring their domain name and associated hosting services (including email). The website development does not include management of third-party services. In the event of incorrect configuration or loss of services (emails, website, etc.), FIOLET, DORIAN will not be held responsible.</p>
    <p><strong>Domain Name Verification:</strong> The client must ensure that the domain name they provide is functional and available for the website’s use. FIOLET, DORIAN is not responsible for issues arising from existing or incorrectly configured domain names before or after the website's launch.</p>
    <p><strong>Domain Name Purchase:</strong> If FIOLET, DORIAN is responsible for purchasing a domain name, it will be purchased in the client’s name. The client is responsible for any future management of the domain name, including renewals, modifications, or cancellations. The client may choose a different domain name after purchase, but any changes to the domain name after project delivery may incur additional fees.</p>
    <p><strong>Modifications During the Project:</strong> Any substantial modifications to the project or addition of features not initially planned will result in a revision of the quote and delivery deadlines. Requests for modifications must be submitted in writing and will be billed separately depending on their complexity.</p>
    <p><strong>Force Majeure:</strong> FIOLET, DORIAN will not be held responsible for any delays or failure to perform services due to force majeure events, such as natural disasters, pandemics, social conflicts, network failures, or any other situation beyond its reasonable control.</p>
    <p><strong>Validity of the Quote:</strong> The quote provided is valid for [X] days from the date of issue.</p>
    <p><strong>Limitation of Liability:</strong> FIOLET, DORIAN shall not be held responsible for any direct or indirect damages, such as data loss, profit loss, or any other economic loss resulting from the use or inability to use the created website, except in cases of gross negligence or willful misconduct.</p>
    <p><strong>Access and Security:</strong> The client is responsible for managing and securing their login credentials to the website. FIOLET, DORIAN will not be held responsible for unauthorized access, hacking, or data breaches resulting from misuse or negligence on the client’s part regarding the security of their credentials.</p>
    <p><strong>Project Closure:</strong> Once the project is completed and delivered, the client must validate the website by confirming in writing that they are satisfied with the service. After this validation, no further modifications will be made without additional fees, unless under a maintenance contract.</p>
    <p><strong>Non-competition:</strong> The client agrees not to hire a direct competitor of FIOLET, DORIAN for website creation services during a period of 12 months after the completion of the service, unless with prior written consent. This clause applies only to the creation and development of websites similar to those created by FIOLET, DORIAN for the client.</p>
    <p><strong>Ownership of Provided Content:</strong> The client guarantees that they hold all necessary rights to use the texts, images, videos, and other content provided for the project. FIOLET, DORIAN will not be held responsible for any copyright or intellectual property violations related to content provided by the client.</p>
    <p><strong>Late Payment Penalties:</strong> In the event of late payment, late penalties will apply at a rate of 20% per month from the due date. These penalties will be due in addition to the invoice amount.</p>
    <p><strong>Exclusion of Liability for Third-Party Services:</strong> FIOLET, DORIAN is not responsible for issues or failures related to third-party services such as hosting, online payment systems, or external APIs integrated into the website. The client is responsible for managing and supporting any third-party services used on their website.</p>
    <p><strong>Applicable Law and Competent Jurisdiction:</strong> These terms are governed by Australian law, specifically the legislation of the state of Queensland. In case of a dispute, the competent court will be the one located in Queensland, or any other court deemed competent according to the applicable laws in Australia.</p>
    <p><strong>Acceptance of Terms:</strong> Signing the quote or paying the deposit implies acceptance of these terms and conditions of sale.</p>
    <p><strong>Modification of Terms:</strong> FIOLET, DORIAN reserves the right to modify these terms and conditions at any time. Modifications will be communicated to the client and will apply immediately upon publication on the website.</p>
  </section>


  <br>

  <!-- Mentions légales -->
  <h1>Mentions légales et politique de confidentialité</h1>

  <section id="mentions-legales">
      <h2>Mentions légales</h2>
      <p><strong>Éditeur du site :</strong></p>
      <ul>
          <li><strong>Nom de l’entreprise :</strong> FIOLET, DORIAN</li>
          <li><strong>Forme juridique :</strong> Individual/Sole Trader - Auto-entreprise enregistrée en Australie</li>
          <li><strong>Numéro d’enregistrement :</strong> ABN 52 688 584 213 - Australian Business Number</li>
          <li><strong>Statut ABN :</strong> Actif depuis le 20 juin 2022</li>
          <li><strong>Non inscrit à la GST :</strong> (Goods & Services Tax)</li>
          <li><strong>Adresse principale :</strong> Queensland, QLD 4000, Australie</li>
          <li><strong>Responsable de la publication :</strong> Dorian Fiolet</li>
      </ul>
      <p><strong>Contact :</strong></p>
      <ul>
          <!-- <li>Email : [Votre e-mail professionnel]</li> -->
          <li>Téléphone : +33776059620</li>
      </ul>
      <p><strong>Hébergement du site :</strong></p>
      <ul>
          <li>Nom : [HEROKU]</li>
          <li>Adresse : Salesforce Tower, 415 Mission Street, 3rd Floor, San Francisco, CA 94105, États-Unis</li>
          <li>Contact : https://www.heroku.com/contact</li>
      </ul>
      <p><strong>Propriété intellectuelle :</strong> Le contenu du site (textes, images, logos, etc.) est la propriété exclusive de unlockhorizons.com. Toute reproduction, distribution, modification ou utilisation à des fins commerciales est interdite sans autorisation préalable.</p>
      <p><strong>Responsabilité :</strong> unlockhorizons.com décline toute responsabilité en cas de mauvaise utilisation des informations fournies sur le site ou de dommages causés par l'accès au site.</p>
  </section>

  <!-- Politique de confidentialité -->
  <section id="politique-confidentialite">
      <h2>Politique de confidentialité</h2>
      <p><strong>Données collectées :</strong> Nous collectons uniquement les informations suivantes :</p>
      <ul>
          <li>Nom et prénom (via formulaire de contact)</li>
          <li>Adresse e-mail (via formulaire de contact)</li>
          <li>Numéro de téléphone (via formulaire de contact)</li>
          <li>Message envoyé via notre formulaire</li>
      </ul>
      <p><strong>Finalité des données collectées :</strong> Les données collectées sont utilisées uniquement pour répondre à vos demandes et ne seront pas utilisées à d’autres fins commerciales ou partagées avec des tiers.</p>
      <p><strong>Durée de conservation des données :</strong> Vos données sont conservées pendant 3 mois après votre dernier contact avec nous.</p>
      <p><strong>Vos droits :</strong> Vous disposez des droits suivants concernant vos données personnelles :</p>
      <ul>
          <li>Accès à vos données</li>
          <li>Rectification ou suppression de vos données</li>
          <li>Limitation ou opposition au traitement de vos données</li>
      </ul>
      <p>Pour exercer vos droits, contactez-nous au : +33776059620.</p>
  </section>

  <!-- Conditions Générales de Vente (CGV) -->
  <section id="cgv">
    <h2>Conditions Générales de Vente (CGV)</h2>
    <p><strong>Services proposés :</strong> Nous proposons les prestations suivantes : création et développement de sites web sur mesure.</p>
    <p><strong>Prix :</strong> Les prix sont indiqués en euros ou australian dollars suivant votre localisation et ne sont pas soumis à la TVA article 293 B du CGI.</p>
    <p><strong>Modalités de paiement :</strong> Un acompte de 50 % est demandé avant le début des travaux. Le solde est dû à la livraison.</p>
    <p><strong>Droit de rétractation :</strong> Conformément à la législation, le client dispose de 14 jours pour exercer son droit de rétractation à partir de la signature du contrat, sauf si l’exécution du service a commencé avec son accord préalable.</p>
    <p><strong>Livraison du projet :</strong> Le code et le fonctionnement du site seront livrés sous forme de fichiers source et documentation. La mise en ligne et le déploiement sur un serveur sont à la charge du client ou peuvent être pris en charge moyennant des frais supplémentaires.</p>
    <p><strong>Propriété du code :</strong> Le code source développé pour le site web reste la propriété exclusive de FIOLET, DORIAN. Le client obtient une licence non exclusive et non transférable d’utilisation du code pour les besoins de son site web. Toute modification, redistribution, ou utilisation commerciale du code sans l'autorisation préalable de FIOLET, DORIAN est interdite.</p>
    <p><strong>Maintenance :</strong> La maintenance du site n'est pas incluse dans les prestations de base. Une fois le site livré, toute demande de maintenance, mise à jour, ou correction de bugs sera facturée séparément et fera l'objet d'un contrat de maintenance spécifique si nécessaire. Le client est responsable de la gestion continue de son site après livraison.</p>
    <p><strong>Responsabilités :</strong> unlockhorizons.com s'engage à fournir le site web conforme aux spécifications convenues. Nous déclinons toute responsabilité pour les dommages indirects ou l'utilisation du site après sa livraison.</p>
    <p><strong>Nom de domaine et hébergement :</strong> Le client est responsable de l'achat, de la gestion et de la configuration de son nom de domaine ainsi que des services d'hébergement associés (y compris les emails). Le développement du site ne comprend pas la gestion des services tiers. En cas de configuration incorrecte ou de perte de services (emails, site web, etc.), FIOLET, DORIAN ne pourra être tenu responsable.</p>
    <p><strong>Vérification du nom de domaine :</strong> Le client doit s'assurer que le nom de domaine qu'il fournit est fonctionnel et disponible pour l'utilisation du site. FIOLET, DORIAN n'est pas responsable des problèmes survenant en raison de noms de domaine existants ou mal configurés avant ou après le lancement du site.</p>
    <p><strong>Achat de nom de domaine :</strong> Si FIOLET, DORIAN est chargé de l'achat d'un nom de domaine, celui-ci sera acheté au nom du client. Le client est responsable de toute gestion future du nom de domaine, y compris les renouvellements, modifications ou annulations. Le client peut choisir un autre nom de domaine après achat, mais toute modification du nom de domaine après la livraison du projet pourra entraîner des frais supplémentaires.</p>
    <p><strong>Modifications en cours de projet :</strong> Toute modification substantielle du projet ou ajout de fonctionnalités non prévues initialement entraînera une révision du devis et des délais de livraison. Les demandes de modifications doivent être soumises par écrit et seront facturées séparément en fonction de leur complexité.</p>
    <p><strong>Force majeure :</strong> FIOLET, DORIAN ne pourra être tenu responsable de tout retard ou non-exécution de la prestation due à des événements de force majeure, tels que les catastrophes naturelles, les pandémies, les conflits sociaux, les pannes de réseau ou toute autre situation échappant à son contrôle raisonnable.</p>
    <p><strong>Durée de validité du devis :</strong> Le devis fourni est valable pour une période de 30 jours à compter de sa date d'émission. Passé ce délai, FIOLET, DORIAN se réserve le droit de réviser les prix en fonction des changements des coûts ou de la demande.</p>
    <p><strong>Limitation de responsabilité :</strong> FIOLET, DORIAN ne pourra en aucun cas être tenu responsable des dommages directs ou indirects, tels que la perte de données, la perte de profit, ou toute autre perte économique, résultant de l'utilisation ou de l'incapacité d'utiliser le site web créé, sauf en cas de faute lourde ou intentionnelle de sa part.</p>
    <p><strong>Accès et sécurité :</strong> Le client est responsable de la gestion et de la sécurité de ses identifiants d'accès à son site web. FIOLET, DORIAN ne pourra être tenu responsable en cas d’accès non autorisé, de piratage ou de fuite de données résultant d’un mauvais usage ou de la négligence du client concernant la sécurité de ses identifiants.</p>
    <p><strong>Clôture du projet :</strong> Une fois le projet terminé et livré, le client doit valider le site en confirmant par écrit qu’il est satisfait de la prestation. Passée cette validation, aucune modification ne sera effectuée sans frais supplémentaires, sauf dans le cadre d’un contrat de maintenance.</p>
    <p><strong>Non-concurrence :</strong> Le client s’engage à ne pas solliciter un concurrent direct de FIOLET, DORIAN pour la création de sites web pendant une période de 12 mois après la fin de la prestation, sauf accord écrit préalable. Cette clause s'applique uniquement à la création et au développement de sites web similaires à ceux réalisés par FIOLET, DORIAN pour le client.</p>
    <p><strong>Propriété des contenus fournis :</strong> Le client garantit qu'il détient tous les droits nécessaires pour utiliser les textes, images, vidéos, et autres contenus fournis pour le projet. FIOLET, DORIAN ne pourra être tenu responsable de toute violation des droits d’auteur ou de propriété intellectuelle liés aux contenus fournis par le client.</p>
    <p><strong>Pénalités en cas de retard de paiement :</strong> En cas de retard de paiement, des pénalités de retard seront appliquées, calculées à un taux de 20 % par mois de retard à partir de la date d'échéance. Ces pénalités seront dues en plus du montant de la facture.</p>
    <p><strong>Exclusion de responsabilité pour les services tiers :</strong> FIOLET, DORIAN n’est pas responsable des problèmes ou pannes liés aux services fournis par des tiers, tels que les services d'hébergement, les systèmes de paiement en ligne, ou les API externes intégrées au site. Le client est responsable de la gestion et du support des services tiers utilisés sur son site.</p>
    <p><strong>Droit applicable et juridiction compétente :</strong> Les présentes conditions sont régies par la loi australienne, en particulier la législation de l'État du Queensland. En cas de litige, le tribunal compétent sera celui du Queensland, ou tout autre tribunal compétent selon les règles de droit applicables en Australie.</p>
    <p><strong>Acceptation des CGV :</strong> La signature du devis ou le paiement de l'acompte implique l'acceptation des présentes conditions générales de vente.</p>
    <p><strong>Modification des conditions :</strong> FIOLET, DORIAN se réserve le droit de modifier les présentes conditions générales de vente à tout moment. Les modifications seront communiquées au client et seront applicables dès leur publication sur le site.</p>

  </section>

  <br><br><br><br><br><br>

</div>
