<div class="ns-page-container">

  <div class="pass-nav">
    <div class="colleputain">
      <div class="block-noir-ligne"></div>
      <div class="block-rouge-ligne"></div>
    </div>
  </div>

  <div class="pass-nav-block-noir"></div>

  <div class="ns-container">
    <div class="ns-content">

      <div class="ns-first">

        <div class="ns-traits-container">
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
        </div>

        <div class="ns-first-gauche">
          <div class="ns-first-droite-content">
            <h2 class="text-title">Our Services</h2>
            <p class="text-bold">Sigle Page, Showcase Site, CMS "Content Management System", E-commerce Site, Web Application</p>
            <p class="text-lighty">We offer a range of services, including captivating showcase websites to present your brand, flexible CMS platforms to manage your content effortlessly, and robust e-commerce sites to boost your sales.</p>
            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Discover Our Services</a>
            </div>
          </div>
        </div>

        <div class="ns-first-droite">
          <div class="ns-first-logo"><%= image_tag("test.png") %></div>

        </div>

      </div>

    </div>

    <div class="ns-fist-arrow-container">
      <i class="fa-solid fa-circle-down" style="color: #fff;"></i>
    </div>

  </div>

  <div class="ns-site-vitrine">
    <h1>Single Page</h1>
  </div>

  <div class="ns-site-vitrine">
    <h1>Showcase</h1>
  </div>

  <div class="ns-site-vitrine">
    <h1>CMS</h1>
  </div>

  <div class="ns-site-vitrine">
    <h1>E-commerce</h1>
  </div>

  <div class="ns-site-vitrine">
    <h1>Web App</h1>
  </div>


  <div class="home-troisieme-services-div-container">

    <h3>faire un js stimulus</h3>

    <div class="home-troisieme-services-div-content">


      <div class="home-trois-services-container">
        <div class="services-container">

          <div class="one-service-container criteras">
            <h3>Criteria</h3>
            <p>Information Presentation</p>
            <p>Static Pages</p>
            <p>Image Gallery</p>
            <p>Contact Information</p>
            <p>User Management</p>
            <p>Article Creation</p>
            <p>Categories and Tags</p>
            <p>Media Management</p>
            <p>Shopping Cart</p>
            <p>Inventory Management</p>
            <p>Payment Processing</p>
            <p>Comments and Sharing</p>
            <p>Administration Interface</p>
            <p>Order Management</p>
            <p>Customer Management</p>
            <p>Limited Interactivity</p>
            <p>Management Interface</p>
            <p>Start Price</p>


          </div>


          <div class="one-service-container type-site">
            <h3>Single Page</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p>$ 2000</p>

          </div>

          <div class="one-service-container type-site">
            <h3>Showcase Site</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p>$ 3000</p>

          </div>

          <div class="one-service-container type-site">
            <h3>CMS</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>$ 5000</p>
          </div>

          <div class="one-service-container type-site">
            <h3>E-commerce Site</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>$ 40 000</p>
          </div>


          <div class="one-service-container type-site">
            <h3>Web application</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>Not indicate</p>
          </div>


        </div>
      </div>


    </div>
  </div>



  <div class="ns-estimation-btn-container">
    <a href="#">Voir mon estimation personaliser</a>
  </div>

  <!-- test -->

  <div class="ns-carrou-container">
    <div class="ns-carrou-content">

      <div class="ns-carrou-gauche">
        <h3 class="text-title">Title</h3>
        <%= image_tag("test.png") %>
        <p> &lt; O O O O &gt; </p>
      </div>

      <div class="ns-carrou-droite">
        <h3 class="text-title">Critères</h3>
        <div class="ns-carrou-list-container">
          <div class="ns-carrou-list">
            <p>Présentation de l'information</p>
            <p>Galerie d'images</p>
            <p>Informations de contact</p>
            <br>
            <p class="crit-none">Création d'articles</p>
            <p class="crit-none">Catégories et tags</p>
            <p class="crit-none">Gestion des médias</p>
            <p class="crit-none">Commentaires et partage</p>
            <p class="crit-none">Interface d'administration</p>
            <br>
            <p class="crit-none">Gestion des utilisateurs</p>
            <p class="crit-none">Panier d'achat</p>
            <p class="crit-none">Gestion des stocks</p>
            <p class="crit-none">Traitement des paiements</p>
            <p class="crit-none">Gestion des commandes</p>
            <p class="crit-none">Gestion des clients</p>
            <p class="crit-none">Interface de gestion</p>
            <br>
            <p>Prix de départ</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- test -->




</div>
