<div class="ns-page-container">

  <div class="pass-nav">
    <div class="colleputain">
      <div class="block-noir-ligne"></div>
      <div class="block-rouge-ligne"></div>
    </div>
  </div>

  <div class="pass-nav-block-noir"></div>

  <div class="ns-container">
    <div class="ns-content">

      <div class="ns-first">

        <div class="ns-traits-container">
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
        </div>

        <div class="ns-first-gauche">
          <div class="ns-first-logo"></div>
        </div>

        <div class="ns-first-droite">
          <div class="ns-first-droite-content">
            <h2 class="text-title">Our Services</h2>
            <p class="text-bold">Sigle Page, Showcase Site, CMS "Content Management System", E-commerce Site, Web Application</p>
            <p class="text-lighty">We offer a range of services, including captivating showcase websites to present your brand, flexible CMS platforms to manage your content effortlessly, and robust e-commerce sites to boost your sales.</p>
            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Discover Our Services</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>



  <div class="home-troisieme-services-div-container">

    <h3>faire un js stimulus</h3>

    <div class="home-troisieme-services-div-content">


      <div class="home-trois-services-container">
        <div class="services-container">

          <div class="one-service-container criteras">
            <h3>Criteria</h3>
            <p>Information Presentation</p>
            <p>Static Pages</p>
            <p>Image Gallery</p>
            <p>Contact Information</p>
            <p>User Management</p>
            <p>Article Creation</p>
            <p>Categories and Tags</p>
            <p>Media Management</p>
            <p>Shopping Cart</p>
            <p>Inventory Management</p>
            <p>Payment Processing</p>
            <p>Comments and Sharing</p>
            <p>Administration Interface</p>
            <p>Order Management</p>
            <p>Customer Management</p>
            <p>Limited Interactivity</p>
            <p>Management Interface</p>
            <p>Start Price</p>


          </div>


          <div class="one-service-container">
            <h3>Single Page</h3>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>v</p>
            <p>X</p>
            <p>2000</p>

          </div>

          <div class="one-service-container">
            <h3>Showcase Site</h3>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>v</p>
            <p>X</p>
            <p>3000</p>

          </div>

          <div class="one-service-container">
            <h3>CMS</h3>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>v</p>
            <p>v</p>
            <p>X</p>
            <p>X</p>
            <p>X</p>
            <p>v</p>
            <p>5000</p>
          </div>

          <div class="one-service-container">
            <h3>E-commerce Site</h3>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>X</p>
            <p>v</p>
            <p>40 000</p>
          </div>


          <div class="one-service-container">
            <h3>Web application</h3>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>v</p>
            <p>X</p>
            <p>v</p>
            <p>Not indicate</p>
          </div>


        </div>
      </div>


    </div>
  </div>

</div>
