<div class="ns-page-container">



  <div class="pass-nav-block-noir"></div>

  <%= render "nosservices/nsfirst" %>

  <!-- stimulus -->
  <%= render "nosservices/nssecond" %>

  <!-- presentation des offres-->
  <%= render "nosservices/nsthird" %>




</div>
