<div class="ns-page-container">

  <div class="pass-nav">
    <div class="colleputain">
      <div class="block-noir-ligne"></div>
      <div class="block-rouge-ligne"></div>
    </div>
  </div>

  <div class="pass-nav-block-noir"></div>

  <div class="ns-container">
    <div class="ns-content">

      <div class="ns-first">

        <div class="ns-traits-container">
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
          <div class="ns-trait"><div class="ns-fade"></div></div>
        </div>

        <div class="ns-first-gauche">
          <div class="ns-first-droite-content">
            <h2 class="text-title">Our Services</h2>
            <p class="text-bold">Sigle Page, Showcase Site, CMS "Content Management System", E-commerce Site, Web Application</p>
            <p class="text-lighty">We offer a range of services, including captivating showcase websites to present your brand, flexible CMS platforms to manage your content effortlessly, and robust e-commerce sites to boost your sales.</p>
            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Discover Our Services</a>
            </div>
          </div>
        </div>

        <div class="ns-first-droite">
          <div class="ns-first-logo"><%= image_tag("test.png") %></div>

        </div>

      </div>

    </div>

    <div class="ns-fist-arrow-container">
      <i class="fa-solid fa-circle-down" style="color: #fff;"></i>
    </div>

  </div>




  <!-- stimulus -->
  <div class="ns-stimulus-container" data-controller="critere">
    <div class="ns-stimulus-content">

      <div class="ns-stimulus-gauche">

        <div class="ns-stimulus-gauche-oneline opacity-one" data-action="click->critere#update1" data-critere-target="premiercrittitle">
          <div class="ns-stimulus-gauche-logo"></div>
          <p class="ns-stimulus-gauche-title">Landing Page</p>
          <div class="ns-stimulus-gauche-line"></div>
        </div>

        <div class="ns-stimulus-gauche-oneline"  data-action="click->critere#update2" data-critere-target="deuxiemecrittitle">
          <div class="ns-stimulus-gauche-logo"></div>
          <p class="ns-stimulus-gauche-title">Showcase Site</p>
          <div class="ns-stimulus-gauche-line"></div>
        </div>

        <div class="ns-stimulus-gauche-oneline" data-action="click->critere#update3" data-critere-target="troisiemecrittitle">
          <div class="ns-stimulus-gauche-logo"></div>
          <p class="ns-stimulus-gauche-title">CMS</p>
          <div class="ns-stimulus-gauche-line"></div>
        </div>

        <div class="ns-stimulus-gauche-oneline" data-action="click->critere#update4" data-critere-target="quatriemecrittitle">
          <div class="ns-stimulus-gauche-logo"></div>
          <p class="ns-stimulus-gauche-title">E-Commerce</p>
          <div class="ns-stimulus-gauche-line"></div>
        </div>

        <div class="ns-stimulus-gauche-oneline" data-action="click->critere#update5" data-critere-target="cinquiemecrittitle">
          <div class="ns-stimulus-gauche-logo"></div>
          <p class="ns-stimulus-gauche-title">Web Application</p>
          <div class="ns-stimulus-gauche-line"></div>
        </div>

      </div>



      <div class="ns-stimulus-droite">

        <h3 class="text-title" data-critere-target="premiercritheader">Landing Page</h3>
        <h3 class="text-title d-none" data-critere-target="deuxiemecritheader">Showcase Site</h3>
        <h3 class="text-title d-none" data-critere-target="troisiemecritheader">CMS</h3>
        <h3 class="text-title d-none" data-critere-target="quatriemecritheader">E-Commerce</h3>
        <h3 class="text-title d-none" data-critere-target="cinquiemecritheader">Web Application</h3>


        <p class="text-lighty" data-critere-target="premiercritheader">Une page unique spécialement conçue pour attirer l’attention et inciter à l’action, souvent utilisée pour proposer les services de son entreprises, des campagnes publicitaires ou des promotions spécifiques.</p>
        <p class="text-lighty d-none" data-critere-target="deuxiemecritheader">Un site qui présente des produits, services ou projets de manière visuellement attrayante, souvent utilisé pour démontrer le savoir-faire ou les offres d’une entreprise.</p>
        <p class="text-lighty d-none" data-critere-target="troisiemecritheader">Une solution permettant de créer, gérer, modifier, supprimer et publier du contenu web facilement au commande du votre tableau de bord utilisée pour proposer les services et articles de son entreprises.</p>
        <p class="text-lighty d-none" data-critere-target="quatriemecritheader">Un site dédié à la vente en ligne de produits ou services, intégrant des fonctionnalités d'ajout, modifier et supprimer ses articles ,gestion des commandes et de paiement, et options de livraison.</p>
        <p class="text-lighty d-none" data-critere-target="cinquiemecritheader">Une application accessible via un navigateur web, offrant des fonctionnalités interactives et des services en ligne, souvent utilisée pour des tâches spécifiques comme ex: un site de rencontre.</p>



        <div class="ns-stimulus-droite-crit-container">
          <div class="ns-stimulus-droite-crit-grid">
            <div class="ns-stimulus-droite-one-crit">
              <p class="crit-present" data-critere-target="premiercrit">Présentation de l'information</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p class="crit-present" data-critere-target="premiercrit">Galerie d'images</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p class="crit-present"data-critere-target="premiercrit">Informations de contact</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Création d'articles</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Catégories et filtres</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Gestion des médias</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Commentaires et partage</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="deuxiemecrit">Interface d'administration</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Gestion des utilisateurs</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Panier d'achat</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Gestion des stocks</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Traitement des paiements</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Gestion des commandes</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Gestion des clients</p>
            </div>
            <div class="ns-stimulus-droite-one-crit">
              <p data-critere-target="troisiemecrit">Interface de gestion</p>
            </div>



          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- stimulus -->








  <!-- tableau -->




  <div class="home-troisieme-services-div-container">

    <h3>recap</h3>

    <div class="home-troisieme-services-div-content">


      <div class="home-trois-services-container">
        <div class="services-container">

          <div class="one-service-container criteras">
            <h3>Criteria</h3>
            <p>Information Presentation</p>
            <p>Static Pages</p>
            <p>Image Gallery</p>
            <p>Contact Information</p>
            <p>User Management</p>
            <p>Article Creation</p>
            <p>Categories and Tags</p>
            <p>Media Management</p>
            <p>Shopping Cart</p>
            <p>Inventory Management</p>
            <p>Payment Processing</p>
            <p>Comments and Sharing</p>
            <p>Administration Interface</p>
            <p>Order Management</p>
            <p>Customer Management</p>
            <p>Limited Interactivity</p>
            <p>Management Interface</p>
            <p>Start Price</p>


          </div>


          <div class="one-service-container type-site">
            <h3>Single Page</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p>$ 2000</p>

          </div>

          <div class="one-service-container type-site">
            <h3>Showcase Site</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p>$ 3000</p>

          </div>

          <div class="one-service-container type-site">
            <h3>CMS</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>$ 5000</p>
          </div>

          <div class="one-service-container type-site">
            <h3>E-commerce Site</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>$ 40 000</p>
          </div>


          <div class="one-service-container type-site">
            <h3>Web application</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>Not indicate</p>
          </div>


        </div>
      </div>


    </div>
  </div>


  <div class="ns-estimation-btn-container">
    <a href="#">Voir mon estimation personaliser</a>
  </div>




</div>
