<div class="ns-page-container">

  <div class="pass-nav">
    <div class="colleputain">
      <div class="block-noir-ligne"></div>
      <div class="block-rouge-ligne"></div>
    </div>
  </div>

  <div class="pass-nav-block-noir"></div>

  <%= render "nosservices/nsfirst" %>

  <!-- stimulus -->
  <%= render "nosservices/nssecond" %>

  <!-- presentation des offres-->
  <%= render "nosservices/nsthird" %>


  <!-- tableau -->




  <div class="home-troisieme-services-div-container">

    <h3>recap</h3>

    <div class="home-troisieme-services-div-content">


      <div class="home-trois-services-container">
        <div class="services-container">

          <div class="one-service-container criteras">
            <h3>Criteria</h3>
            <p>Information Presentation</p>
            <p>Static Pages</p>
            <p>Image Gallery</p>
            <p>Contact Information</p>
            <p>User Management</p>
            <p>Article Creation</p>
            <p>Categories and Tags</p>
            <p>Media Management</p>
            <p>Shopping Cart</p>
            <p>Inventory Management</p>
            <p>Payment Processing</p>
            <p>Comments and Sharing</p>
            <p>Administration Interface</p>
            <p>Order Management</p>
            <p>Customer Management</p>
            <p>Limited Interactivity</p>
            <p>Management Interface</p>
            <p>Start Price</p>


          </div>


          <div class="one-service-container type-site">
            <h3>Single Page</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p>$ 2000</p>

          </div>

          <div class="one-service-container type-site">
            <h3>Showcase Site</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p>$ 3000</p>

          </div>

          <div class="one-service-container type-site">
            <h3>CMS</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>$ 5000</p>
          </div>

          <div class="one-service-container type-site">
            <h3>E-commerce Site</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>$ 40 000</p>
          </div>


          <div class="one-service-container type-site">
            <h3>Web application</h3>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p><i class="fa-solid fa-xmark" style="color: #e21a41;"></i></p>
            <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i></p>
            <p>Not indicate</p>
          </div>


        </div>
      </div>


    </div>
  </div>


  <div class="ns-estimation-btn-container">
    <a href="#">Voir mon estimation personaliser</a>
  </div>




</div>
