<div class="pass-nav"></div>

<div class="ns-container">
  <div class="ns-content">

    <div class="ns-first">

      <div class="ns-traits-container">
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
      </div>

      <div class="ns-first-gauche">
        <p>je suis gauche</p>
      </div>

      <div class="ns-first-droite">
        <p>je suis droite hehe</p>
      </div>

    </div>

  </div>
</div>


<div class="blop"></div>
