
<div class="anti-nav">
</div>
<div class="test-container">
  <div class="test-content">

    <div class="test-gauche">

      <div class="test-gauche-oneline">
        <div class="test-gauche-logo test-gauche-logo-show"></div>
        <p class="test-gauche-title test-gauche-title-show">Landing Page</p>
        <div class="test-gauche-line test-gauche-line-show"></div>
      </div>

      <div class="test-gauche-oneline">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">Showcase Site</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">CMS</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">E-Commerce</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">Web Application</p>
        <div class="test-gauche-line"></div>
      </div>

    </div>

    <div class="test-milieu"></div>

    <div class="test-droite">

      <h3>Landing Page</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>
    </div>

  </div>
</div>
