
<div class="anti-nav">
</div>
<div class="test-container" data-controller="critere">
  <div class="test-content">

    <div class="test-gauche">

      <div class="test-gauche-oneline" data-action="click->critere#update1">
        <div class="test-gauche-logo test-gauche-logo-show"></div>
        <p class="test-gauche-title test-gauche-title-show">Landing Page</p>
        <div class="test-gauche-line test-gauche-line-show"></div>
      </div>

      <div class="test-gauche-oneline"  data-action="click->critere#update2">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">Showcase Site</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline" data-action="click->critere#update3">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">CMS</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">E-Commerce</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">Web Application</p>
        <div class="test-gauche-line"></div>
      </div>

    </div>



    <div class="test-droite">

      <h3 class="text-title">Landing Page</h3>

      <p class="text-lighty">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>

      <div class="test-droite-crit-container">
        <div class="test-droite-crit-grid">
          <div class="test-droite-one-crit">
            <p data-critere-target="premiercrit">Présentation de l'information</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="premiercrit">Galerie d'images</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="premiercrit">Informations de contact</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Création d'articles</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Catégories et filtres</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Gestion des médias</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Commentaires et partage</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Interface d'administration</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Gestion des utilisateurs</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Panier d'achat</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Gestion des stocks</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Traitement des paiements</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Gestion des commandes</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Gestion des clients</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Interface de gestion</p>
          </div>



        </div>
      </div>
    </div>

  </div>
</div>
