
<div class="anti-nav">
</div>
<div class="test-container" data-controller="critere">
  <div class="test-content">

    <div class="test-gauche">

      <div class="test-gauche-oneline opacity-one" data-action="click->critere#update1" data-critere-target="premiercrittitle">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">Landing Page</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline"  data-action="click->critere#update2" data-critere-target="deuxiemecrittitle">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">Showcase Site</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline" data-action="click->critere#update3" data-critere-target="troisiemecrittitle">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">CMS</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline" data-action="click->critere#update4" data-critere-target="quatriemecrittitle">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">E-Commerce</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline" data-action="click->critere#update5" data-critere-target="cinquiemecrittitle">
        <div class="test-gauche-logo"></div>
        <p class="test-gauche-title">Web Application</p>
        <div class="test-gauche-line"></div>
      </div>

    </div>



    <div class="test-droite">

      <h3 class="text-title" data-critere-target="premiercritheader">Landing Page</h3>
      <h3 class="text-title d-none" data-critere-target="deuxiemecritheader">Showcase Site</h3>
      <h3 class="text-title d-none" data-critere-target="troisiemecritheader">CMS</h3>
      <h3 class="text-title d-none" data-critere-target="quatriemecritheader">E-Commerce</h3>
      <h3 class="text-title d-none" data-critere-target="cinquiemecritheader">Web Application</h3>


      <p class="text-lighty" data-critere-target="premiercritheader">Landing Page sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>
      <p class="text-lighty d-none" data-critere-target="deuxiemecritheader">Showcase Site sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>
      <p class="text-lighty d-none" data-critere-target="troisiemecritheader">Showcase Site sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>
      <p class="text-lighty d-none" data-critere-target="quatriemecritheader">Showcase Site sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>
      <p class="text-lighty d-none" data-critere-target="cinquiemecritheader">Showcase Site sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>



      <div class="test-droite-crit-container">
        <div class="test-droite-crit-grid">
          <div class="test-droite-one-crit">
            <p class="crit-present" data-critere-target="premiercrit">Présentation de l'information</p>
          </div>
          <div class="test-droite-one-crit">
            <p class="crit-present" data-critere-target="premiercrit">Galerie d'images</p>
          </div>
          <div class="test-droite-one-crit">
            <p class="crit-present"data-critere-target="premiercrit">Informations de contact</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Création d'articles</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Catégories et filtres</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Gestion des médias</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Commentaires et partage</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="deuxiemecrit">Interface d'administration</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="troisiemecrit">Gestion des utilisateurs</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="troisiemecrit">Panier d'achat</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="troisiemecrit">Gestion des stocks</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="troisiemecrit">Traitement des paiements</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="troisiemecrit">Gestion des commandes</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="troisiemecrit">Gestion des clients</p>
          </div>
          <div class="test-droite-one-crit">
            <p data-critere-target="troisiemecrit">Interface de gestion</p>
          </div>



        </div>
      </div>
    </div>

  </div>
</div>
