
<div class="anti-nav">
</div>
<div class="test-container">
  <div class="test-content">

    <div class="test-gauche">

      <div class="test-gauche-oneline">
        <p>logo</p>
        <p>title 1</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <p>logo</p>
        <p>title 1</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <p>logo</p>
        <p>title 1</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <p>logo</p>
        <p>title 1</p>
        <div class="test-gauche-line"></div>
      </div>

      <div class="test-gauche-oneline">
        <p>logo</p>
        <p>title 1</p>
        <div class="test-gauche-line"></div>
      </div>

    </div>

    <div class="test-milieu"></div>

    <div class="test-droite">
      <p>logo</p>
      <h3>titre</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fugiat earum rem vero excepturi aspernatur, incidunt modi adipisci aliquam omnis nulla vel quisquam, debitis dolorum non ullam veniam tempora voluptatibus!</p>
    </div>

  </div>
</div>
