<br><br><br><br><br><br><br><br><br><br>

<div class="home-quatre-article">

  <div class="home-quatre-picture">
    <div class="picture"></div>
  </div>

  <div class="home-quatre-article-title">
    <h2 class="text-article-bold"><%= @project.title %></h2>
  </div>

  <div class="home-quatre-article-link">
    <div class="home-quatre-link-text">
      <a href="#" class="text-article-link">Read More</a>
    </div>
    <div class="home-quatre-link-arrow">
      <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </div>

</div>
