.projects-div-container {
  width: 100%;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: relative;
}



.projects-div-content {
  position: relative;
  z-index: 2;
  width: 80%;
  height: fit-content;

}

.project-first-div {
  display: flex;
  padding-top: 5.5rem;
  min-height: calc(100vh - 6.2rem);
  // padding-bottom: 7.5rem;
  position: relative;

}

.project-first-gauche {
  width: 50%;
}

.project-first-droite {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scene-container {
  // position: absolute;
  width: 80%;
  // height: 100%;


}

#scene-container canvas {

  width: 100% !important;
  height: auto !important;
  // width: 100%  !important;
  // transform: translate(-25%, 0%);
  animation: floatImage 8s 2s ease-in-out infinite;
  // transform: scale(1.5, 1.5);
  filter: drop-shadow(15px 20px 2px #00000061);
}






.projects-div-content .text-main-title {
  margin-left: 0;
  filter: drop-shadow(4px 3px 1px #4545454f);

}

@media screen and (max-width: 1025px) {
  .projects-div-content .text-main-title {
    margin-top: 2rem;
  }
}

.projects-div-content .home-quatre-title {
  margin-bottom: 0;
}



.projects-div-content .ns-first-gauche-block-border-left-red .link-ligne-rouge-container > a {
  color: #111;
}

.projects-div-content .ns-first-gauche-block-border-left-red .link-ligne-rouge-container {
  margin-top: 1.875rem;
}

.projects-div-content .ns-first-gauche-block-border-left-red {
  border-left: 1px solid #111;
}

.projects-div-content .text-lighty {
 //  margin-left: 15px;
  margin-bottom: 0rem;
  margin-top: 1.875rem !important;
}

.projects-div-content .project-first-droite .link-ligne-rouge-container {
  display: none;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.projects-div-content .project-first-droite .link-ligne-rouge-container a {
  color: #111;
}

.projects-grid > a {

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in;

}

.projects-grid > a:hover {
  transform: translateY(-10px);
  transition: all .2s ease-out;

}


.projects-grid h2, .projects-grid i {

  color: #111;
}

@media screen and (max-width: 1025px) {
  .project-first-div {
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
  }

  .project-first-gauche {
    width: 100%;
  }

  .project-first-droite {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 6rem;
  }

  .projects-div-content .text-lighty {
    margin-bottom: 2rem;
  }

  .projects-grid {
    margin-top: 6rem;
  }

  .projects-div-content .ns-first-gauche-block-border-left-red .link-ligne-rouge-container {
    display: none;
  }

  .projects-div-content .project-first-droite {
    display: flex;
    flex-direction: column;
  }

  .projects-div-content .project-first-droite .link-ligne-rouge-container {
    display: block;
    width: 100%;
  }


}

@media (max-width: 880px) {
  .projects-div-content .home-quatre-article {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .projects-div-content {
    width: 90%;
  }

  .project-first-gauche .text-main-title {
    font-size: 17vw;
  }
}

@media (max-width: 390px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
