.projects-div-container {
  width: 100%;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: relative;
}



.projects-div-content {
  position: relative;
  z-index: 2;
  width: 80%;
  height: fit-content;

}

.projects-div-content .text-main-title {
  margin-top: 3.75rem;
}

.projects-grid > a {

  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-grid h2, .projects-grid i {

  color: #111;
}

@media (max-width: 880px) {
  .projects-div-content .home-quatre-article {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .projects-div-content {
    width: 90%;
  }
}
