.projects-div-container {
  width: 100%;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: relative;
}



.projects-div-content {
  position: relative;
  z-index: 2;
  width: 80%;
  height: fit-content;

}

.projects-div-content .text-main-title {
  margin-top: 5.5rem;
  margin-left: 0;
  filter: drop-shadow(4px 3px 1px #4545454f);

}

@media screen and (max-width: 1025px) {
  .projects-div-content .text-main-title {
    margin-top: 2rem;
  }
}

.projects-div-content .home-quatre-title {
  margin-bottom: 0;
}

.projects-div-content .text-bold {
  // margin-left: 15px;
  margin-top: 1rem !important;
}

.projects-div-content .ns-first-gauche-block-border-left-red {
  border-left: 1px solid #111;
}

.projects-div-content .text-lighty {
 //  margin-left: 15px;
  margin-bottom: 5rem;
  margin-top: 1rem !important;
}

.projects-grid > a {

  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-grid h2, .projects-grid i {

  color: #111;
}


@media (max-width: 880px) {
  .projects-div-content .home-quatre-article {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .projects-div-content {
    width: 90%;
  }
}
