// .show-project-container {
//   height: 200vh;
//   width: 100%;
// }

// .show-project-container frame {
//   height: 500px;
//   width: 700px;
// }

.show-project-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.show-project-content {
  padding-top: 3.5rem;
  width: 80%; /* Largeur du contenu */
  position: relative;
  z-index: 2;
}

.show-project-content .text-main-title {
  color: #111;
}

.show-project-content .ns-first-gauche-block-border-left-red {
  border-left: 1px solid #111;
  margin-bottom: 4rem;
}



@media screen and (max-width: 1025px) {
  .show-project-content .ns-first-gauche-block-border-left-red {
    border-left: 1px solid #111 !important;
  }

}

/* Conteneur pour maintenir le ratio d'aspect */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 54.5%; /* Ratio 16:9 (hauteur/largeur) */
  height: 0; /* Hauteur initiale à zéro pour le ratio */
  overflow: hidden;
  filter: drop-shadow(5px 5px 2px #0000001c);
}

/* iframe responsive */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.show-project-container .text-lighty {
  margin-top: 0rem !important;
}

// .show-project-container .text-lighty:last-of-type {
//   margin-bottom: 4rem;
// }

.show-project-category {
  background-color: #fff;
  width: fit-content;
  color: #000;
  padding: 0.3rem 1rem;
  letter-spacing: 1px;
  border: solid 1px #bebebf;
}

.show-project-container .link-ligne-rouge-container a {
  color: #111 !important;
}

.show-project-container .link-ligne-rouge-container {
  margin-top: 5rem;
  margin-bottom: 9rem;
  width: 100%;
}


/* Hide the annoying (i) button on the top-right corner */
.ytp-chrome-top-buttons {
  display: none;
}

/* Display the controls and title only on hover */
.ytp-chrome-top,
.ytp-chrome-bottom {
  opacity: 0;
  background-color: #30303080;
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}
.ytp-chrome-top:hover,
.ytp-chrome-bottom:hover {
  opacity: 1;
}


@media screen and (max-width: 570px) {

  .show-project-content {
    width: 90%;
  }
}
