.link-ligne-rouge-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border: solid 1px #bebebf;
}

.link-ligne-rouge-red {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #e21a41;
  transition: all 0.3s ease-out;
}

.link-ligne-rouge-container:hover {
  border: solid 1px #e21a41;
  cursor: pointer;
}

.link-ligne-rouge-container:hover .link-ligne-rouge-red {
  height: 5px;
  transition: all .01s ease-out;
}

.link-ligne-rouge-container a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.link-ligne-rouge-container a:hover {
  border-color: #e21a41;
}

.about-main-link-container .link-ligne-rouge-container span {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #111;
}

.about-main-link-container .link-ligne-rouge-container {
  padding: 0.5rem 0rem;
}

.about-main-link-container .link-ligne-rouge-container a {
  padding: 0.5rem 1rem;
}
