.newnav-gray-container {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.newnav-container {
  padding: 0 1rem;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gris;
  border-bottom: 2px solid #2b2b2d;
  margin-left: 1px;
}

.newnav-logo {
  display: flex;
  align-items: center;
}

.newnav-logo p {
  margin-bottom: 0;
  line-height: 1.2rem;
}

.nav-logo-img {
  content: "";
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: $gris;
  border: 1px solid #fff;
  margin-right: 1rem;
}

.newnav-container a {
  color: #fff;
  font-weight: 900;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.newnav-list-center a, .newnav-list-end a{
  margin: 0 1rem;
}
