.text-title {
  font-family: "Spectral", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 1.875rem 0;
  margin: 0;
}

.text-bold {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'GT America Trial', sans-serif;
}

.text-light {
  font-size: 1.07rem;
  font-weight: 200;
  margin-top: 1.875rem !important;
  font-family: 'GT America Trial', sans-serif;
  letter-spacing: 0.6px;
}
